{{#with view }}

<div class="venue-box-content box-content">

	<div class="venue-box-content-element">

		<div class="venue-left-l">
												{{view Yn.SquareImageView class="fix-scrolling-touch is-big" contentBinding="venue.brand" withIcon=true}}
		</div>

		<div class="venue-middle-l">

			<div class="venue-product-name">
				{{selected.name}}
			</div>

			<div class="venue-location-name">
				<span class="icon with-text is-icon-small" icon="i"></span>
				{{venue.brand.name}}, {{venue.city.name}}
			</div>

		</div>

		<div class="venue-right-l">

			{{#if canShowGeoposition }}
				<span class="icon with-text is-icon-small" icon="o"></span>
				{{normalize_distance distanceBinding="venue.distance" }}
			{{/if}}
			
				{{#if selected.hasLikes }}
					<span class="icon with-text is-icon-small" icon="m"></span>
					{{selected.likeCount}}		
				{{/if}}
			

		</div>

	</div>


		<div class="venue-box-products">

			{{view Yvi.VenueBoxProductSwipeView 
				venueBinding="venue"
				contentBinding="products"
				selectedBinding="selected"}}

			{{view Yn.CarouselCirclesView class="fix-scrolling-touch"
				contentBinding="products"
				selectedBinding="selected"}}

			{{view Yn.InviteButtonView class="fix-scrolling-touch is-small"
				venueBinding="venue"
				productBinding="selected"}}

		</div>


		<div class="venue-box-users">

			{{#if venue.nearUsers.length }}
				<div class="venue-box-users-title">
					{{I18n venue_people_title}}:
				</div>
				<div class="venue-box-users-list">
					{{#each sixPeople}}

						{{#view Yn.BtapView class="inline"
							action="goToNearFriend"
							actionContentBinding="this" }}
										
							{{view Yn.SquareImageView class="is-normal"
								contentBinding="this"
								withPhoto=true }}

						{{/view}}
						
					{{/each}}
				</div>

			{{/if}}

		</div>


</div>

{{/with}}
