
{{#with view}}


<div class="user-short-block-content">

		<div class="user-short-block-content-image">

			{{#if isYoinUser }}

				{{view Yn.SquareImageView class=imagetype
					contentBinding="content"
					withPhoto=true }}

			{{else}}

				{{#if isFbUser }}

					{{view Yn.SquareImageView class=imagetype
						contentBinding="fbId"
						isFBUser=true
						withPhoto=true }}

				{{else}}

					{{view Yn.SquareImageView class=imagetype
						contentBinding=null
						withPhoto=true }}

				{{/if}}

			{{/if}}

		</div>

		<div class="user-short-block-content-name">

			{{#if isYoinUser }}

				<span class="user-short-block-content-username">{{content.name}}</span>

				{{#if showCity}}

					{{#if content.city}}

						<div class="user-short-block-content-city">

							<span class="icon with-text is-icon-x-small" icon="i">

							</span>

							{{content.city.name}}


						</div>

					{{/if}}

				{{/if}}

			{{else}}

				{{#if isFbUser }}

					<span class="user-short-block-content-username">{{fbName}}</span>

				{{else}}

					<span class="user-short-block-content-username">{{phoneName}}</span>

				{{/if}}	

			{{/if}}

		</div>

</div>

{{/with}}
