
{{#with view}}

	<div class="user-short-block-content">
		
		<div class="user-short-block-content-image inline">

			<!-- imagetype: Only implemented by is-small and is-x-small classes -->

			<!--{{#ifEquals imagetype imagetype}}
		
				{{view Yn.SquareImageView class="is-small is-up-effect" contentBinding="content" }}

			{{else}}

				{{view Yn.SquareImageView class="is-x-small is-up-effect" contentBinding="content" }}

			{{/ifEquals}}-->


			{{view Yn.SquareImageView class="is-x-small is-up-effect" contentBinding="content" }}


		</div>

		<div class="user-short-block-content-name inline">

			{{content.name}}

			{{#if user.city}}

				<div class="user-short-block-content-city">

					<div class="icon is-x-small inline" icon="i">

					</div>

					<div class="city-name inline">

						{{content.city.name}}

					</div>

				</div>

			{{/if}}

		</div>

	</div>

{{/with}}
