
{{#with view}}

	<div id="user-interaction-commented-block-content">
		
		<div id="user-interaction-commented-block-content-image">
		
			{{view Yn.SquareImageView class="is-small" contentBinding="content.fromUser" }}

		</div>

		<div id="user-interaction-commented-block-content-name">

			<span class="text is-big is-black">{{content.fromUser.name}}</span> {{I18n interaction_commented}}

			<div id="user-interaction-commented-block-content-product">

				<span class="icon is-icon-x-small" icon="v"></span>
				{{content.product.name}}

			</div>

		</div>
		
		<div id="user-interaction-commented-block-icon">

			{{view Yn.NotificationImageView class="commented" }}

		</div>
		
	</div>

	<div></div>

	<div class="space by-one"></div>
		
	<div id="user-block-comment">
		
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		
	</div>

{{/with}}
