
{{#with view}}

<div class="user-interaction-box box">

	<div class="user-interaction-box-content box-content">

		<div class="user-interaction-received-block-content">
			
			<div class="user-interaction-received-block-content-image">

				{{#if content.toUser }}

					{{view Yn.SquareImageView class="is-normal"
						contentBinding="content.toUser"
						withPhoto=true }}

				{{else}}

					{{#if content.creationFbId }}

						{{view Yn.SquareImageView class="is-normal"
							contentBinding="content.creationFbId"
							isFBUser=true
							withPhoto=true }}

					{{else}}

						{{view Yn.SquareImageView class="is-normal"
						contentBinding=null
						withPhoto=true }}

					{{/if}}

				{{/if}}

			</div>

			<div class="user-interaction-received-block-content-name">

				{{#if content.toUser }}

					<span class="text is-big is-black">{{content.toUser.name}}</span> {{I18n interaction_received}}

				{{else}}

					<span class="text is-big is-black">{{content.creationUsername}}</span> {{I18n interaction_received}}

				{{/if}}

				<div class="user-interaction-received-block-content-product">

					{{view Yn.IconView class="with-text is-icon-x-small" iconBinding="content.product.category.icon" }}
					{{content.product.name}}

				</div>

			</div>
			
			<div class="user-interaction-received-block-icon">

				{{view Yn.NotificationImageView class="received" }}

			</div>
			
		</div>
		
		<div class="space by-one"></div>
			
		<div class="user-block-inviting">
			
			{{view Yvi.UserShortBlockView contentBinding="content.fromUser" imagetype="is-small" class="is-small" }}
			
		</div>

	</div>

	<div class="user-interaction-received-details box-title box-title-bottom">
		
		<div class="user-interaction-received-details-city inline">
		
			<span class="icon with-text is-icon-small" icon="i"></span>
			{{content.venue_user.name}}, {{content.venue.city.name}}
							
		</div>
							
		<div class="user-interaction-received-details-time f-right">
		
			<span class="icon with-text is-icon-small" icon="w"></span>
			{{humanize dateBinding="content.createdAt" }}
		
		</div>

	</div>

</div>

{{/with}}
