
{{#with view}}

	<div class="box-content without-padding">

		<div class="block-content has-border">
		
			<div class="block-content-image">
			
				{{view Yn.SquareImageView class="is-normal" contentBinding="content.user" withPhoto=true }}

			</div>

			<div class="block-content-name">
			
			  <span class="main-text">
				  {{#if content.user.suspended }}
		        {{I18n someone}}
		      {{else}}
		        {{content.user.name}}
		      {{/if}}
				</span> {{I18n interaction_commented}}

				<div class="block-content-product">

					{{view Yn.IconView class="with-text is-icon-x-small" iconBinding="content.product.category.icon" }}
					{{content.product.name}}

				</div>

			</div>
			
      <div class="block-icon">

				{{view Yn.NotificationImageView class="commented" }}

			</div>
			
		</div>

		<div class="space by-one"></div>
			
		<div class="block-description">
			
			{{content.comment}}
			
		</div>

	</div>
	
	<div class="box-title-bottom">
		
		<div class="details-city f-left">

			{{#if content.venue}}
		
				<span class="icon with-text is-icon-small" icon="i"></span>
				{{content.venue.name}}, {{content.venue.city.name}}

			{{/if}}
							
		</div>
							
		<div class="details-time f-right">
		
			<span class="icon with-text is-icon-small" icon="w"></span>
			{{humanize dateBinding="content.created" }}
		
		</div>

	</div>

{{/with}}
