{{#with view}}

	<div class="box-content has-li">

    <div class="box-content-li box-content-element three-column-table">
			
          <div class="picture left-column">

            {{#if content.toUser }}

              {{view Yn.SquareImageView class="is-normal"
                contentBinding="content.toUser"
                withPhoto=true }}

            {{else}}

              {{#if content.creationFbId }}

                {{view Yn.SquareImageView class="is-normal"
                  contentBinding="content.creationFbId"
                  isFBUser=true
                  withPhoto=true }}

              {{else}}

                {{view Yn.SquareImageView class="is-normal"
                  contentBinding=null
                  withPhoto=true }}

              {{/if}}

            {{/if}}

          </div>

          <div class="name middle-column">

            <span class="main-text">
              {{#if content.toUser }}
              
                {{#if content.toUser.suspended }}
                  {{I18n someone}}
                {{else}}
                  {{content.toUser.name}}
                {{/if}}

              {{else}}

                {{#if content.creationUsername }}
                  {{content.creationUsername}}
                {{else}}
                  {{content.creationUsername}}
                {{/if}}

              {{/if}}
            </span>

            <div class="detail-text">

              {{view Yn.IconView class="with-text is-icon-x-small" iconBinding="content.product.category.icon" }}
              {{content.product.name}}

            </div>

          </div>
			
          <div class="control left-column">

            {{view Yn.NotificationImageView class="sent" }}

          </div>
			
  </div>


  </div>

	<div class="box-title-bottom">
		
		<div class="bottom-detail is-left">

			{{#if content.venue}}
		
				<span class="icon with-text is-icon-small" icon="i"></span>
				{{content.venue.name}}, {{content.venue.city.name}}

			{{/if}}
							
		</div>
							
		<div class="bottom-detail is-right">
		
			<span class="icon with-text is-icon-small" icon="w"></span>
			{{humanize dateBinding="content.created" }}
		
		</div>

	</div>



{{/with}}
