{{#view Yn.HeaderView class= "with-small-shadow"}}

	{{view Yn.AdaptativeButtonView class="header-button l-left is-black button-text is-small is-font-white" contentI18n="close" action="close"}}

	<div class="header-title">{{I18n activity_title}}</div>
	
	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon is-icon-small" icon="e" }}

{{/view }}

<div class="screen-container">

	{{#each activities}}

		<div class="space by-one"></div>

		{{#if isLike}}
			{{view Yvi.UserInteractionLikedBlockView contentBinding="like" }}
		{{/if}}

		{{#if isComment}}
			{{view Yvi.UserInteractionCommentedBlockView contentBinding="comment" }}
		{{/if}}

		{{#if isInvitation}}
			{{view Yvi.UserInteractionInvitationBlockView contentBinding="invitation" loggedUserBinding="view.loggedUser"}}
		{{/if}}

	{{/each}}


</div>
