{{#view Yn.HeaderView }}

	{{view Yn.AdaptativeButtonView class="header-button l-left is-black button-text is-small is-font-white" contentI18n="close" action="close"}}

	<div class="header-title">{{I18n activity_title}}</div>
	
	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon is-icon-small" icon="e" }}

{{/view }}

<div class="screen-container">

	<div class="space by-one"></div>	

	{{#each activities}}

		{{#if isLike}}
			{{view Yvi.UserInteractionLikedBlockView contentBinding="like" }}
			
		{{/if}}

		{{#if isComment}}
			{{view Yvi.UserInteractionCommentedBlockView contentBinding="comment" }}
			
		{{/if}}

		{{#if isInvitation}}
			<h2>1 invitation</h2>
		{{/if}}
		
		<div class="space by-one"></div>

	{{/each}}


</div>
