{{#with view}}

{{#view Yn.HeaderView}}
  {{view Yn.HeaderCloseButtonView }}
	<div class="header-title">{{I18n categories_title}}</div>
{{/view }}

<div class="screen-container">


  {{#if orderCategories.isLoaded}}

      <div class="space by-one"></div>

      <div class="box">
        <div class="box-content has-li">


        {{view Yvi.CategoryItemView
          icon="m"
          option="top"
          nameI18n="categories_top_venues"}}

        {{#each orderCategories}}

          {{view Yvi.CategoryItemView 
            contentBinding="this" }}

        {{/each}}

        {{view Yvi.CategoryItemView 
          option="all"
          icon="j"
          nameI18n="categories_all"}}

        </div>
      </div>

      <div class="space by-one"></div>

  {{else}}

    {{view Yn.SpinnerView}}  

  {{/if}}

</div>

{{/with}}
