{{#with view}}

{{#view Yn.HeaderView id="categories-header" class="with-small-shadow"}}
  {{view Yn.HeaderCloseButtonView }}
	<div class="header-title">{{I18n categories_title}}</div>
{{/view }}

{{#view Yn.ScrollerView id="categories-screen-container" class="screen-container" 
  exclude="categories-header" }}

  {{#if isLoaded}}

      <div id="categories-list">

        {{view Yvi.CategoryItemView class="is-red" 
          icon="m"
          option="top"
          nameI18n="categories_top_venues"}}

        {{#each orderCategories}}

          {{view Yvi.CategoryItemView 
            contentBinding="this" }}

        {{/each}}

        {{view Yvi.CategoryItemView class="is-grey" 
          option="all"
          icon="j"
          nameI18n="categories_all"}}

      </div>

  {{else}}

    {{view Yn.SpinnerView}}  

  {{/if}}

{{/view}}

{{/with}}
