{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}
  {{view Yn.HeaderCloseButtonView }}
	<div class="header-title">{{I18n categories_title}}</div>
{{/view }}

<div class="screen-container">

  {{#if orderCategories.isLoaded}}

      <div class="categories-list">

        {{view Yvi.CategoryItemView
          icon="m"
          option="top"
          nameI18n="categories_top_venues"}}

        {{#each orderCategories}}

          {{view Yvi.CategoryItemView 
            contentBinding="this" }}

        {{/each}}

        {{view Yvi.CategoryItemView 
          option="all"
          icon="j"
          nameI18n="categories_all"}}

      </div>

  {{else}}

    {{view Yn.SpinnerView}}  

  {{/if}}

</div>

{{/with}}
