
{{#with view}}

{{#view Yn.HeaderView }}

	{{view Yn.BackButtonView}}

	<div class="header-title">{{I18n consignee}}</div>

	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon is-icon-small" icon="q" }}

{{/view }}

<div class="screen-container">

	{{view Yvi.ChooseUserMenuTabsView id="choose-user-menu-tabs" selectedBinding="option" }}

		{{#view Yvi.TabMainView id="choose-user-type-tab-main"
			currentTabViewBinding="option"}}

			{{#view id="choose-user-type-friends" class="choose-user-type-tab" 
				viewName="friends" 
				selectedFriendsOptionBinding="selectedFriendsOption" }}

					<div id="channels">

						{{#each allOptions}}

							{{view Yvi.ChooseUserChannelButtonView 
								class="channel-button"
								content=this
								selectedBinding="view.selectedFriendsOption"}}

						{{/each}}

					</div>


					{{#view Yvi.TabMainView id="choose-user-tab-main"
						currentTabViewBinding="tabOption" }}

						{{#view id="choose-user-agenda" class="choose-user-tab" 
							viewName="agenda" }}

							<div class="space by-one"></div>

							<div class="choose-user-channel-people box">

								<div class="choose-user-channel-people-title box-title box-title-top">

									{{title}}:

								</div>

								<div class="choose-user-channel-people-content box-content">

									{{#each agendaUsers}}

										<div class="choose-user-channel-people-content-element">

											{{name}}

										</div>

									{{/each}}

								</div>

							</div>

						{{/view}}

						{{#view id="choose-user-yoin" class="choose-user-tab" 
							viewName="yoin" }}

							<div class="space by-one"></div>

							<div class="choose-user-channel-people box">

								<div class="choose-user-channel-people-title box-title box-title-top">

									{{title}}:

								</div>

								<div class="choose-user-channel-people-content box-content">

									{{#each friendUsers}}

										<div class="choose-user-channel-people-content-element">

											{{view Yvi.UserShortBlockView class="is-small" imagetype="is-small" contentBinding="this" showCity=false }}

										</div>

									{{/each}}

								</div>

							</div>

						{{/view}}

						{{#view id="choose-user-facebook" class="choose-user-tab" 
							viewName="facebook" }}

							<div class="space by-one"></div>

							<div class="choose-user-channel-people box">

								<div class="choose-user-channel-people-title box-title box-title-top">

									{{title}}:

								</div>

								<div class="choose-user-channel-people-content box-content">

									{{#each fbUsers}}

										<div class="choose-user-channel-people-content-element">

											{{name}}

										</div>

									{{/each}}

								</div>

							</div>

						{{/view}}

						{{#view id="choose-user-twitter" class="choose-user-tab" 
							viewName="twitter" }}

							<div class="space by-one"></div>

							<div class="choose-user-channel-people box">

								<div class="choose-user-channel-people-title box-title box-title-top">

									{{title}}:

								</div>

								<div class="choose-user-channel-people-content box-content">

									{{#each nearUsers}}

										<div class="choose-user-channel-people-content-element">

											{{name}}

										</div>

									{{/each}}

								</div>

							</div>

						{{/view}}

					{{/view}}

			{{/view}}



			{{#view id="choose-user-type-nears" class="choose-user-type-tab" 
				viewName="nears" }}

					<div class="space by-one"></div>

					<div id="choose-user-venue" class="box">

						<div id="choose-user-venue-title" class="box-title box-title-top">

							{{I18n people_near}}:

						</div>

						<div id="choose-user-venue-content" class="box-content">

							{{view Yvi.VenueShortBlockView class="is-normal" imagetype="is-normal" contentBinding="venue" }}

						</div>

					</div>

					<div class="space by-one"></div>

					<div id="choose-user-near-people" class="box">

						<div id="choose-user-near-people-title" class="box-title box-title-top">

							{{I18n all_people}}

						</div>

						<div id="choose-user-near-people-content" class="box-content">

							{{#each nearUsers}}

								<div class="choose-user-near-people-content-element">

									{{view Yvi.UserShortBlockView class="is-small" imagetype="is-small" contentBinding="this" showCity=false }}

								</div>

							{{/each}}

						</div>

					</div>

			{{/view}}

		{{/view}}

</div>

{{/with}}
