{{#with view}}

{{#view Yn.HeaderView id="choose-user-header"}}

	{{view Yn.BackButtonView}}
	<div class="header-title"></div>

{{/view }}

{{#if notificationIsVisible}}

	{{view Yn.NotificationView
		typeBinding="notificationType"
		contentBinding="notificationContent"
		isInDomBinding="notificationIsVisible" }}

{{/if}}

<div class="screen-container">

		{{view Yvi.ChooseUserMenuTabsView id="choose-user-menu-tabs" selectedBinding="option" }}

		{{#view Yn.TabMainView id="choose-user-type-tab-main"
			currentTabViewBinding="option"}}


			{{#view id="choose-user-type-friends" class="choose-user-type-tab" 
				viewName="friends" 
				selectedFriendsOptionBinding="selectedFriendsOption" }}

        <div id="channels">

              <div class="channel-button"></div>

							{{view Yvi.ChooseUserChannelButtonView 
								content="agenda"
								image="phonebook_button"
								selectedBinding="view.selectedFriendsOption"}}

							{{view Yvi.ChooseUserChannelButtonView 
								content="yoin"
								image="yoin_button"
								selectedBinding="view.selectedFriendsOption"}}

							{{view Yvi.ChooseUserChannelButtonView 
								content="facebook"
								image="facebook_logo"
								selectedBinding="view.selectedFriendsOption"}}

              <div class="channel-button"></div>

					</div>

					{{#view Yn.TabMainView id="choose-user-tab-main"
						currentTabViewBinding="tabOption" }}

								{{#view Yn.RefreshScrollerView id="choose-user-agenda" class="choose-user-tab" 
                  holdPeriod=10
									exclude="choose-user-menu-tabs footer choose-user-header channels"
                  isRefreshedBinding="agendaIsRefreshed"
                  hasNextBinding="agendaHasNext"
                  lengthBinding="agendaContent.length"
									viewName="agenda" }}

                    <div class="scroller-container fix-scrolling-touch">

                    {{#unless user.firstPhoneChannel.isValidated}}

                        {{#unless user.firstPhoneChannel}}
                          <div class="inactive-account">
                            <div class="title">
                              <div class="title-name">
                                {{I18n activate_agenda_title}}
                              </div>
                            </div>
                            <div class="content">
                              <div class="box">
                                <div class="box-content">
                                  <div class="block-phone-number-element two-column-table">
                                    <div class="text left-column">
                                      {{view Yn.PhoneInputView id="choose-user-input-phone" class="input-phone"
                                        placeholderI18n="add_another_phone_number"}}
                                    </div>
                                    <div class="control right-column">
                                      {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white"
                                        contentI18n="add"
                                        action="addPhone"}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="subtitle">
                              {{I18n activate_agenda_subtitle}}
                            </div>
                          </div>

                        {{else}}

                          <div class="inactive-account">
                            <div class="title">
                              <div class="title-name">
                              </div>
                            </div>
                            <div class="content">
                              <div class="box">
                                <div class="box-content has-fill-border">
                                  <div class="block-phone-number-element two-column-table">
                                    <div class="text left-column">
                                      {{user.firstPhoneChannel.phone}}
                                    </div>
                                    <div class="control right-column">
                                      {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-white"
                                        contentI18n="delete"
                                        action="deletePhone"
                                        actionContentBinding="user.firstPhoneChannel"}}
                                    </div>
                                  </div>
                                </div>
                                <div class="box-content">
                                  <div class="block-phone-number-element two-column-table">
                                    <div class="left-column">
                                      {{view Yn.InputView id="choose-user-input-validation" class="single-input"
                                        placeholderI18n="confirmation_code_placeholder"}}
                                    </div>
                                    <div class="control right-column">
                                      {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white"
                                        contentI18n="ok"
                                        action="validatePhone"}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="subtitle">
                                {{I18n validate_phone_subtitle}}
                            </div>
                          </div>

                        {{/unless}} 

                    {{else}} 

                      {{#if agendaIsLoaded }} 


                              {{#if agendaContent.length }} 

                                    <div class="space by-one"></div>
                                    <div class="choose-user-channel-people box">

                                      <div class="choose-user-channel-people-title box-title box-title-top">

                                        {{title}}

                                      </div>

                                      <div class="choose-user-channel-people-content box-content">

                                        {{#each agendaContent}}

                                          <div class="choose-user-channel-people-content-element">

                                            {{#view Yn.BtapView
                                              action="selectAgendaUser"
                                              actionContentBinding="this" }}

                                              {{name}}

                                            {{/view}}

                                          </div>

                                        {{/each}}

                                      </div>

                                    </div>
                                    <div class="space by-one"></div>

                              {{else}} 

                                <div class="choose-user-alert-text">
                                  <div class="space by-nine"></div>
                                  {{I18n no_friends}}
                                </div>

                              {{/if}} 


                        {{else}} 

                          {{view Yn.SpinnerView}}

                        {{/if}} 

                    {{/unless}} 

                    </div>

								{{/view}}

								{{#view Yn.RefreshScrollerView id="choose-user-yoin" class="choose-user-tab" 
                  holdPeriod=10
									exclude="choose-user-menu-tabs footer choose-user-header channels"
                  isRefreshedBinding="yoinIsRefreshed"
                  hasNextBinding="yoinHasNext"
                  lengthBinding="yoinContent.length"
									viewName="yoin" }}

                    <div class="scroller-container fix-scrolling-touch">

                    {{#if yoinIsLoaded }} 


                        {{#if yoinContent.length }} 

                          <div class="space by-one"></div>
                          <div class="choose-user-channel-people box">

                            <div class="choose-user-channel-people-title box-title box-title-top">

                              {{title}}

                            </div>

                            <div class="choose-user-channel-people-content box-content">

                              {{#each yoinContent}}

                                <div class="choose-user-channel-people-content-element">

                                  {{view Yvi.UserShortBlockView class="is-small" 
                                  imagetype="is-small" 
                                  contentBinding="this" 
                                  showCity=false 
                                  action="selectUser"
                                  actionContentBinding="this"}}

                                </div>

                              {{/each}}

                            </div>

                          </div>
                          <div class="space by-one"></div>

                        {{else}}

                          <div class="choose-user-alert-text">
                          <div class="space by-nine"></div>
                            {{I18n no_friends}}
                          </div>

                        {{/if}} 


                  {{else}} 

                    {{view Yn.SpinnerView}}

                  {{/if}} 
                  </div>


								{{/view}}

								{{#view Yn.RefreshScrollerView id="choose-user-facebook" class="choose-user-tab" 
                  holdPeriod=10
                  isRefreshedBinding="facebookIsRefreshed"
                  lengthBinding="facebookContent.length"
                  hasNextBinding="facebookHasNext"
									exclude="choose-user-menu-tabs footer choose-user-header channels"
									viewName="facebook" }}

                    <div class="scroller-container fix-scrolling-touch">

                    {{#unless user.hasFacebook}} 

                      <div class="inactive-account">
                        <div class="title">
                          <div class="title-name">
                          </div>
                        </div>
                        <div class="content">
                          {{view Yn.SocialBigButtonView class="facebook" 
                            contentI18n="connect_with_facebook" 
                            action="connectWithFacebook" }}
                        </div>
                        <div class="subtitle">
                          {{I18n activate_facebook_subtitle}}
                        </div>
                      </div>

                    {{else}} 

                      {{#if facebookIsLoaded }} 


                            {{#if facebookContent.length }} 

                                <div class="space by-one"></div>
                                <div class="choose-user-channel-people box">

                                  <div class="choose-user-channel-people-title box-title box-title-top">

                                    {{title}}:

                                  </div>

                                  <div class="choose-user-channel-people-content box-content">

                                    {{#each facebookContent}}

                                      <div class="choose-user-channel-people-content-element">
                                        {{view Yvi.UserShortBlockView class="is-small"
                                          imagetype="is-small"
                                          typeBinding="Yvi.UserType.FbChannel"
                                          fbIdBinding="id"
                                          fbNameBinding="name"
                                          action="selectFacebookUser"
                                          actionContentBinding="this"}}
                                      </div>


                                    {{/each}}

                                  </div>


                                </div>
                                <div class="space by-one"></div>

                            {{else}} 

                              <div class="choose-user-alert-text">
                              <div class="space by-nine"></div>
                                {{I18n no_friends}}
                              </div>

                            {{/if}} 



                    {{else}} 

                      {{view Yn.SpinnerView}}

                    {{/if}} 

                  {{/unless}} 

                  </div>

								{{/view}}

					{{/view}}


			{{/view}}





			{{#view Yn.ScrollerView id="choose-user-type-nears" class="choose-user-type-tab" 
				exclude="choose-user-menu-tabs footer choose-user-header"
				viewName="nears" }}


				<div class="space by-one"></div>

				<div id="choose-user-venue" class="box">

					<div id="choose-user-venue-title" class="box-title box-title-top">

						{{I18n people_near}}:

					</div>

					<div id="choose-user-venue-content" class="box-content">

						{{view Yvi.VenueShortBlockView class="is-normal" imagetype="is-normal" contentBinding="venue" }}

					</div>

				</div>

				<div class="space by-one"></div>


					{{#if nearIsLoaded }} 

						{{#if nearContent.length }} 


								<div id="choose-user-near-people" class="box">

									<div id="choose-user-near-people-title" class="box-title box-title-top">

										{{I18n all_people}}

									</div>

									<div id="choose-user-near-people-content" class="box-content">

										{{#each nearContent }}

											<div class="choose-user-near-people-content-element">

												{{view Yvi.UserShortBlockView class="is-small" 
													imagetype="is-small" 
													contentBinding="this" 
													showCity=false 
													action="selectUser"
													actionContentBinding="this"}}

											</div>

										{{/each}}

									</div>

								</div>

								<div class="space by-one"></div>

						{{else}}

							<div class="choose-user-alert-text">
							<div class="space by-nine"></div>
								{{I18n no_users_close_venue}}
							</div>

						{{/if}} 

					{{else}} 

						{{view Yn.SpinnerView}}

					{{/if}} 


			{{/view}}



		{{/view}}

</div>

{{/with}}
