{{#view Yn.HeaderView }}

  {{view Yn.BackButtonView }}
  <div class="header-title">{{I18n product}}</div>

{{/view }}

<div class="screen-container">

	{{view Yvi.ChooseProductMenuTabsView }}

  <div class="">{{I18n all}}</div>
  <div class="">{{I18n nears}}</div>
  <div class="">{{I18n friends}}</div>
  <div class="">{{I18n consignee}}</div>

  <div class=""> optionTitle {{title}}</div>

  {{#if optionIsAll }} 
      show categories
  {{else }}
      user: {{user.name}}
  {{/if}}


  {{#each content}}
    {{product.name}}
    {{venue.name}}
    --------------
  {{/each}}

</div>
