{{#with view}}

{{#view Yn.HeaderView id="choose-product-header"}}

	<div class="header-title">{{I18n product}}</div>
	{{view Yn.HeaderCloseButtonView }}

{{/view }}

<div class="screen-container">

	{{view Yvi.ChooseProductMenuTabsView id="choose-product-menu-tabs" 
		selectedBinding="option" }}

	{{#view Yn.TabMainView id="choose-product-type-tab-main"
			currentTabViewBinding="option"}}

			{{#view id="choose-product-type-all" class="choose-product-type-tab" 
				viewName="all" 
				selectedCategoryBinding="selectedCategory" }}

				<div id="choose-product-categories">

					{{#each categories}}

						{{view Yvi.ChooseProductCategoryButtonView 
							class="category-button"
							content=this 
							selectedBinding="view.selectedCategory"}}

					{{/each}}

				</div>

				{{#view Yn.ScrollerView id="choose-product-all-content" 
					exclude="footer choose-product-header choose-product-menu-tabs choose-product-categories" }}
				

						{{#if isAllContentLoaded }}

							{{#if allContent.length}}

								<div class="space by-one"></div>

								<div class="product-list-box box">

									<div class="product-list-title box-title box-title-top">
										{{selectedCategory.name}}
									</div>

									<div class="product-list-content box-content">

										{{#each allContent}}


										{{#view Yn.BtapView class="product-list-element three-column-table" 
											action="selectProduct"
											actionContentBinding="this"}}
													<div class="product-list-element-image left-column"> 
														{{view Yn.SquareImageView class="is-small"
															contentBinding="this"
															withPhoto=true }}
													</div>
													<div class="product-list-element-name middle-column">
														{{name}}
													</div>
													<div class="price-label right-column"> 
														{{price}} {{I18n currency_symbol}}
													</div>
											{{/view}}

										{{/each}}

									</div>

								</div>

								<div class="space by-one"></div>

							{{else}}

								{{view Yn.EmptyView class="is-small"
									contentI18n="empty_products"
									messageAction=null
									textAction=null }}

							{{/if}}

						{{else }}

							{{view Yn.SpinnerView class="is-vertical-center"}}

						{{/if }}


				{{/view}}

			{{/view}}



			{{#view Yn.ScrollerView id="choose-product-type-nears" class="choose-product-type-tab" 
				exclude="footer choose-product-header choose-product-menu-tabs" 
				viewName="nears" 
				selectedFriendsOptionBinding="selectedFriendsOption" }}

				<div class="space by-one"></div>

				<div id="selected-user" class="box">

					<div id="selected-user-title" class="box-title box-title-top">
						{{I18n products_closed_to}}:
					</div>

					<div id="selected-user-content" class="box-content">

						{{view Yvi.UserShortBlockView contentBinding="user" imagetype="is-normal" class="is-normal" }}

					</div>

				</div>

				{{#if isNearsContentLoaded }}

					{{#if nearsContent.length}}

						<div class="space by-one"></div>

						<div class="product-list-box box">

							<div class="product-list-title box-title box-title-top">
								{{I18n all_products}}
							</div>

							<div class="product-list-content box-content">

								{{#each nearsContent}}

										{{#view Yn.BtapView class="product-list-element three-column-table" 
											action="selectProduct"
											actionContentBinding="this"}}

											<div class="product-list-element-image left-column"> 
												{{view Yn.SquareImageView class="is-small" contentBinding="this" withPhoto=true }}
											</div>
											<div class="product-list-element-name middle-column">
												{{name}}
											</div>
											<div class="price-label right-column"> 
												{{price}} {{I18n currency_symbol}}
											</div>

										{{/view}}
								{{/each}}

							</div>

						</div>

						<div class="space by-one"></div>

					{{else}}

						{{view Yn.EmptyView class="is-small"
							contentI18n="empty_products"
							messageAction=null
							textAction=null }}

					{{/if}}

				{{else }}

          {{view Yn.SpinnerView class="is-vertical-center"}}

				{{/if }}
				

			{{/view}}

	{{/view}}

</div>

{{/with}}
