{{#with view}}

{{#view Yn.HeaderView class="without-shadow" }}

  {{view Yn.HeaderCloseButtonView }}
	<div class="header-title">{{I18n header_choose_user}}</div>

{{/view }}

<div class="screen-container">

    {{view Yn.MenuTabsButtonView id="choose-user-menu-tabs" 
      contentBinding="_options"
      selectedBinding="option" }}

    <div class="header-action">
      <div class="ha-single-box">
        {{view Yn.InputView class="single-input" 
        placeholderI18n="search"
        enableKeyChange=true
        valueBinding="searchInput"}}
      </div>
    </div>

    {{#if initContent }}

      {{#view Yn.TabMainView
        currentTabViewBinding="option"}}

          {{#view Yn.ScrollerView
            exclude=".header, .header-action, #choose-user-menu-tabs"
            searchInputBinding="searchInput"
            viewName="facebook" }}

            {{template "choose_user_facebook"}}

          {{/view}}


          {{#view Yn.ScrollerView
            exclude=".header, .header-action, #choose-user-menu-tabs"
            searchInputBinding="searchInput"
            viewName="yoin" }}

            {{template "choose_user_yoin"}}

          {{/view}}


          {{#view Yn.ScrollerView
            exclude=".header, .header-action, #choose-user-menu-tabs"
            searchInputBinding="searchInput"
            viewName="nearby" }}

            {{template "choose_user_nears"}}

          {{/view}}

      {{/view}}

  {{else}}
      {{view Yn.SpinnerView
        contentI18n="importing_facebook"}}
  {{/if}}

</div>

{{/with}}
