{{#with view}}

{{#view Yn.HeaderView }}

  {{view Yn.HeaderCloseButtonView }}
	<div class="header-title">{{I18n header_choose_user}}</div>

{{/view }}

<div class="screen-container">

    {{view Yn.MenuTabsButtonView id="choose-user-menu-tabs" 
      contentBinding="_options"
      selectedBinding="option" }}

    {{#view Yn.TabMainView
      currentTabViewBinding="option"}}

        {{#view Yn.ScrollerView
          exclude=".header, #choose-user-menu-tabs"
          viewName="facebook" }}

          {{template "choose_user_facebook"}}

        {{/view}}

        {{#if _hasYoinFriends}} 

          {{#view Yn.ScrollerView
            exclude=".header, #choose-user-menu-tabs"
            viewName="yoin" }}

            {{template "choose_user_yoin"}}

          {{/view}}

        {{/if}}

        {{#if showNears}} 

          {{#view Yn.ScrollerView
            exclude=".header, #choose-user-menu-tabs"
            viewName="nearby" }}

            {{template "choose_user_nears"}}

          {{/view}}

        {{/if}}

    {{/view}}

</div>

{{/with}}
