{{#with view}}

{{#view Yn.HeaderView }}

	{{view Yn.BackButtonView }}

	<div class="header-title">{{I18n product}}</div>

	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon" icon="q" }}

{{/view }}

<div class="screen-container">

	{{view Yvi.ChooseProductMenuTabsView id="choose-product-menu-tabs" selectedBinding="option" }}

	{{#view Yvi.TabMainView id="choose-product-type-tab-main"
			currentTabViewBinding="option"}}

			{{#view id="choose-product-type-all" class="choose-product-type-tab" 
				viewName="all" 
				selectedCategoryBinding="selectedCategory" }}

				<div id="categories">

					{{#each categories}}

						{{view Yvi.ChooseProductCategoryButtonView 
							class="category-button"
							content=this 
							selectedBinding="view.selectedCategory"}}

					{{/each}}

				</div>

				{{#view id="choose-product-tab-main"
					currentTabViewBinding="selectedCategory.name"}}

					{{#each categories}}

						{{#view Yvi.IndependentTabPaneView class="choose-product-tab" 
              currentTabViewBinding="view.currentTabView"
							viewNameBinding="name" }}

							<div class="space by-one"></div>

							<div class="product-list-box box">

								<div class="product-list-title box-title box-title-top">
									{{name}}
								</div>

								<div class="product-list-content box-content">

									{{#each view.content}}

										<div class="product-list-element three-column-table">
											<div class="product-list-element-image left-column"> 
												{{view Yn.SquareImageView class="is-small" contentBinding="product" withPhoto=true }}
											</div>
											<div class="product-list-element-name middle-column">
												{{product.name}}
											</div>
											<div class="price-label right-column"> 
												{{product.price}} {{I18n currency_symbol}}
											</div>
										</div>
									{{/each}}

								</div>

							</div>

						{{/view}}

					{{/each}}

				{{/view}}

			{{/view}}



			{{#view id="choose-product-type-nears" class="choose-product-type-tab" 
				viewName="nears" 
				selectedFriendsOptionBinding="selectedFriendsOption" }}

				<div class="space by-one"></div>

				<div id="selected-user" class="box">

					<div id="selected-user-title" class="box-title box-title-top">
						{{I18n products_closed_to}}:
					</div>

					<div id="selected-user-content" class="box-content">

						{{view Yvi.UserShortBlockView contentBinding="user" imagetype="is-normal" class="is-normal" }}

					</div>

				</div>

				<div class="space by-one"></div>

				<div class="product-list-box box">

					<div class="product-list-title box-title box-title-top">
						{{I18n all_products}}
					</div>

					<div class="product-list-content box-content">

						{{#each content}}

							<div class="product-list-element three-column-table">
								<div class="product-list-element-image left-column"> 
									{{view Yn.SquareImageView class="is-small" contentBinding="product" withPhoto=true }}
								</div>
								<div class="product-list-element-name middle-column">
									{{product.name}}
								</div>
								<div class="price-label right-column"> 
									{{product.price}} {{I18n currency_symbol}}
								</div>
							</div>
						{{/each}}

					</div>

				</div>

			{{/view}}

	{{/view}}

</div>

{{/with}}
