{{#with view}}

{{#view Yn.HeaderView }}

  {{view Yn.HeaderCloseButtonView }}
	<div class="header-title">{{I18n header_choose_user}}</div>

{{/view }}

<div class="screen-container">

    {{#if hasYoinFriends}} 

        {{view Yvi.ChooseUserMenuTabsView id="choose-user-menu-tabs" 
          selectedBinding="option" }}

        {{#view Yn.TabMainView
          currentTabViewBinding="option"}}

            {{#view Yn.ScrollerView
              exclude=".header, #choose-user-menu-tabs"
              viewName="facebook" }}

              {{template "choose_user_facebook"}}

            {{/view}}

            {{#view Yn.ScrollerView
              exclude=".header, #choose-user-menu-tabs"
              viewName="yoin" }}

              {{template "choose_user_yoin"}}


            {{/view}}

        {{/view}}

    {{else}}

        {{#view Yn.TabMainView
          currentTabViewBinding="option"}}

            {{#view Yn.ScrollerView
              exclude=".header"
              viewName="facebook" }}

              {{template "choose_user_facebook"}}

            {{/view}}

            {{#view Yn.ScrollerView
              exclude=".header"
              viewName="yoin" }}

              {{template "choose_user_yoin"}}


            {{/view}}

        {{/view}}


    {{/if}}


</div>

{{/with}}
