{{#with view}}

{{#view Yn.HeaderView id="choose-product-header"}}

  {{view Yn.BackButtonView }}
	<div class="header-title">{{I18n header_choose_product}}</div>

{{/view }}

<div class="screen-container">


	{{view Yvi.ChooseProductMenuTabsView id="choose-product-menu-tabs" 
		selectedBinding="option" }}

	{{#view Yn.TabMainView id="choose-product-type-tab-main"
			currentTabViewBinding="option"}}

			{{#view id="choose-product-type-all" class="choose-product-type-tab" 
				viewName="all" 
				selectedCategoryBinding="selectedCategory" }}

				<div class="submenu-tabs is-five-items">

					{{#each categories}}

						{{view Yvi.ChooseProductCategoryButtonView 
							class="submenu-tab"
							content=this 
							selectedBinding="view.selectedCategory"}}

					{{/each}}

				</div>

        {{#unless isNavigatingForward }}

          {{#view Yn.ScrollerView id="choose-product-all-content" 
            exclude="choose-product-header choose-product-menu-tabs choose-product-categories" }}
          
              {{#if allContent.isLoaded }}

                {{#if allContent.length}}

                  <div class="space by-one"></div>

                  <div class="box">

                    <div class="box-title-top">
                      {{selectedCategory.name}}
                    </div>

                    <div class="box-content has-li">

                      {{#each allContent}}

                        <div class="box-content-li has-tap">
                          {{view Yvi.ProductShortBlockView class="is-normal" 
                            hasPrice=true
                            action="selectProduct"
                            actionContentBinding="this"
                            contentBinding="this" 
                            imagetype="is-normal"}}
                        </div>

                      {{/each}}

                    </div>

                  </div>

                  <div class="space by-one"></div>

                {{else}}

                  {{view Yn.EmptyView class="is-small is-vertical-center"
                    contentI18n="empty_products"
                    messageAction=null
                    textAction=null }}

                {{/if}}

              {{else }}

                {{view Yn.SpinnerView class="is-vertical-center"}}

              {{/if }}


          {{/view}}

        {{else}}

          {{view Yn.NavigationSpinnerView class="is-vertical-center"}}

        {{/unless}}

			{{/view}}



			{{#view Yn.ScrollerView id="choose-product-type-nears" class="choose-product-type-tab" 
				exclude="choose-product-header choose-product-menu-tabs" 
				viewName="nears" 
				selectedFriendsOptionBinding="selectedFriendsOption" }}

        {{#unless isNavigatingForward }}

          <div class="space by-one"></div>

          {{#if user}}

            <div class="box">

              <div class="box-title-top">
                {{I18n products_closed_to}}:
              </div>

              <div class="box-content">
                {{view Yvi.UserShortBlockView contentBinding="user" imagetype="is-normal" class="is-normal" }}
              </div>

            </div>


            {{#if nearsContent.isLoaded }}

              {{#if nearsContent.length}}

                <div class="space by-one"></div>

                <div class="box">

                  <div class="box-title-top">
                    {{I18n all_products}}
                  </div>

                  <div class="box-content has-li">

                    {{#each nearsContent}}

                      <div class="box-content-li has-tap">
                        {{view Yvi.ProductShortBlockView class="is-normal" 
                          hasPrice=true
                          contentBinding="this" 
                          action="selectProduct"
                          actionContentBinding="this" 
                          imagetype="is-normal"}}
                      </div>

                    {{/each}}

                  </div>

                </div>


              {{else}}

                {{view Yn.EmptyView class="is-small is-vertical-center"
                  contentI18n="empty_products"
                  messageAction=null
                  textAction=null }}

              {{/if}}

            {{else }}

              {{view Yn.SpinnerView class="is-vertical-center"}}

            {{/if }}

          {{else}}

              {{view Yn.EmptyView class="is-small is-vertical-center"
                contentI18n="empty_near_products"
                messageAction=null
                textAction=null }}

          {{/if}}

        {{else}}

          {{view Yn.NavigationSpinnerView}}

        {{/unless}}
				

			{{/view}}


	{{/view}}



</div>

{{/with}}
