
{{#with view}}

{{#view Yn.HeaderView id="choose-user-header"}}

	{{view Yn.BackButtonView}}

	<div class="header-title">{{I18n consignee}}</div>

{{/view }}

<div class="screen-container">

	{{view Yvi.ChooseUserMenuTabsView id="choose-user-menu-tabs" selectedBinding="option" }}

		{{#view Yvi.TabMainView id="choose-user-type-tab-main"
			currentTabViewBinding="option"}}

			{{#view id="choose-user-type-friends" class="choose-user-type-tab" 
				viewName="friends" 
				selectedFriendsOptionBinding="selectedFriendsOption" }}

					<div id="channels">


							{{view Yvi.ChooseUserChannelButtonView 
								content="agenda"
                isDisabledBinding="isAgendaDisabled"
								selectedBinding="view.selectedFriendsOption"}}

							{{view Yvi.ChooseUserChannelButtonView 
								content="yoin"
                isDisabledBinding="isYoinDisabled"
								selectedBinding="view.selectedFriendsOption"}}

							{{view Yvi.ChooseUserChannelButtonView 
								content="facebook"
                isDisabledBinding="isFacebookDisabled"
								selectedBinding="view.selectedFriendsOption"}}

							{{view Yvi.ChooseUserChannelButtonView 
                isDisabledBinding="isTwitterDisabled"
								content="twitter"
								selectedBinding="view.selectedFriendsOption"}}


					</div>


					{{#view Yvi.TabMainView id="choose-user-tab-main"
						currentTabViewBinding="tabOption" }}

						{{#view id="choose-user-agenda" class="choose-user-tab" 
							viewName="agenda" }}


              {{#if isAgendaDisabled}} 
                  Pablo mete un mensaje diciendo q hay q activar tu agenda
              {{else}} 

                {{#if isAgendaContentLoaded }} 

                  {{#if agendaContent.length }} 

                        <div class="space by-one"></div>
                        <div class="choose-user-channel-people box">

                          <div class="choose-user-channel-people-title box-title box-title-top">

                            {{title}}

                          </div>

                          <div class="choose-user-channel-people-content box-content">

                            {{#each agendaContent}}

                              <div class="choose-user-channel-people-content-element">

                                {{name}}

                              </div>

                            {{/each}}

                          </div>
                          <div class="space by-one"></div>

                  {{else}} 

                     No hay contenido

                  {{/if}} 

                {{else}} 

                  {{view Yn.SpinnerView}}

                {{/if}} 

              {{/if}} 



							</div>

						{{/view}}

						{{#view id="choose-user-yoin" class="choose-user-tab" 
							viewName="yoin" }}


              {{#if isYoinDisabled}} 

                  Pablo mete un mensaje diciendo q no tienes amigos

              {{else}} 

                {{#if isYoinContentLoaded }} 

                  {{#if yoinContent.length }} 

                    <div class="space by-one"></div>
                    <div class="choose-user-channel-people box">

                      <div class="choose-user-channel-people-title box-title box-title-top">

                        {{title}}

                      </div>

                      <div class="choose-user-channel-people-content box-content">

                        {{#each yoinContent}}

                          <div class="choose-user-channel-people-content-element">

                            {{view Yvi.UserShortBlockView class="is-small" imagetype="is-small" contentBinding="this" showCity=false }}

                          </div>

                        {{/each}}

                      </div>

                    </div>
                    <div class="space by-one"></div>

                  {{else}} 

                     No hay contenido

                  {{/if}} 

                {{else}} 

                  {{view Yn.SpinnerView}}

                {{/if}} 

              {{/if}} 


						{{/view}}

						{{#view id="choose-user-facebook" class="choose-user-tab" 
							viewName="facebook" }}

              {{#if isFacebookDisabled}} 

                  Pablo mete un mensaje diciendo q hay q activar tu cuenta de FB

              {{else}} 

                {{#if isFacebookContentLoaded }} 

                  {{#if facebookContent.length }} 

                      <div class="space by-one"></div>
                      <div class="choose-user-channel-people box">

                        <div class="choose-user-channel-people-title box-title box-title-top">

                          {{title}}:

                        </div>

                        <div class="choose-user-channel-people-content box-content">

                          {{#each facebookContent}}

                            <div class="choose-user-channel-people-content-element">

                              {{name}}

                            </div>

                          {{/each}}

                        </div>

                      </div>
                      <div class="space by-one"></div>

                  {{else}} 

                     No hay contenido

                  {{/if}} 

                {{else}} 

                  {{view Yn.SpinnerView}}

                {{/if}} 

              {{/if}} 


						{{/view}}

						{{#view id="choose-user-twitter" class="choose-user-tab" 
							viewName="twitter" }}


              {{#if isTwitterDisabled}} 
                  Support to twitter currently not available
              {{/if}}


						{{/view}}

					{{/view}}

			{{/view}}

			{{#view id="choose-user-type-nears" class="choose-user-type-tab" 
				viewName="nears" }}

        {{#if nearContent.isLoaded }} 

          {{#if nearContent.length }} 

              <div class="space by-one"></div>

              <div id="choose-user-venue" class="box">

                <div id="choose-user-venue-title" class="box-title box-title-top">

                  {{I18n people_near}}:

                </div>

                <div id="choose-user-venue-content" class="box-content">

                  {{view Yvi.VenueShortBlockView class="is-normal" imagetype="is-normal" contentBinding="venue" }}

                </div>

              </div>

              <div class="space by-one"></div>

              <div id="choose-user-near-people" class="box">

                <div id="choose-user-near-people-title" class="box-title box-title-top">

                  {{I18n all_people}}

                </div>

                <div id="choose-user-near-people-content" class="box-content">

                  {{#each nearContent}}

                    <div class="choose-user-near-people-content-element">

                      {{view Yvi.UserShortBlockView class="is-small" imagetype="is-small" contentBinding="this" showCity=false }}

                    </div>

                  {{/each}}

                </div>

              </div>

              <div class="space by-one"></div>

          {{else}} 

             No hay usuarios cerca del Venue

          {{/if}} 

        {{else}} 

          {{view Yn.SpinnerView}}

        {{/if}} 

			{{/view}}

		{{/view}}

</div>

{{/with}}
