{{#with view}}

{{#view Yn.HeaderView id="choose-user-header"}}

	{{view Yn.BackButtonView}}

	<div class="header-title">{{I18n consignee}}</div>

{{/view }}

{{#if notificationIsVisible}}

	{{view Yn.NotificationView
		typeBinding="notificationType"
		contentBinding="notificationContent"
		isInDomBinding="notificationIsVisible" }}

{{/if}}

<div class="screen-container">

		{{view Yvi.ChooseUserMenuTabsView id="choose-user-menu-tabs" selectedBinding="option" }}

		{{#view Yvi.TabMainView id="choose-user-type-tab-main"
			currentTabViewBinding="option"}}


			{{#view id="choose-user-type-friends" class="choose-user-type-tab" 
				viewName="friends" 
				selectedFriendsOptionBinding="selectedFriendsOption" }}

					<div id="channels">


							{{view Yvi.ChooseUserChannelButtonView 
								content="agenda"
								image="phonebook_button"
								selectedBinding="view.selectedFriendsOption"}}

							{{view Yvi.ChooseUserChannelButtonView 
								content="yoin"
								image="yoin_button"
								selectedBinding="view.selectedFriendsOption"}}

							{{view Yvi.ChooseUserChannelButtonView 
								content="facebook"
								image="facebook_logo"
								selectedBinding="view.selectedFriendsOption"}}

							{{view Yvi.ChooseUserChannelButtonView 
								content="twitter"
								disabled=true
								image="twitter_logo"
								selectedBinding="view.selectedFriendsOption"}}


					</div>


					{{#view Yvi.TabMainView id="choose-user-tab-main"
						currentTabViewBinding="tabOption" }}

								{{#view Yn.ScrollerView id="choose-user-agenda" class="choose-user-tab" 
									exclude="choose-user-menu-tabs footer choose-user-header channels"
									viewName="agenda" }}

									{{#unless user.hasPhones}}
										<div class="space by-nine"></div>
										<div class="choose-user-alert-text">
											{{I18n activateAgenda}}
										</div>
									{{else}} 

										{{#if agendaIsLoaded }} 

											{{#if agendaContent.length }} 

														<div class="space by-one"></div>
														<div class="choose-user-channel-people box">

															<div class="choose-user-channel-people-title box-title box-title-top">

																{{title}}

															</div>

															<div class="choose-user-channel-people-content box-content">

																{{#each agendaContent}}

																		{{#view Yn.BtapView class="choose-user-channel-people-content-element"
																			action="selectAgendaUser"
																			actionContentBinding="this"}}

																			{{name}}

																		{{/view}}

																{{/each}}

															</div>
														</div>
														<div class="space by-one"></div>

											{{else}} 

												 No hay contenido

											{{/if}} 

										{{else}} 

											{{view Yn.SpinnerView}}

										{{/if}} 

									{{/unless}} 


								{{/view}}

								{{#view Yn.ScrollerView id="choose-user-yoin" class="choose-user-tab" 
									exclude="choose-user-menu-tabs footer choose-user-header channels"
									viewName="yoin" }}

									{{#if yoinContent.isLoaded }} 

										{{#if yoinContent.length }} 

											<div class="space by-one"></div>
											<div class="choose-user-channel-people box">

												<div class="choose-user-channel-people-title box-title box-title-top">

													{{title}}

												</div>

												<div class="choose-user-channel-people-content box-content">

													{{#each yoinContent}}

														<div class="choose-user-channel-people-content-element">

															{{view Yvi.UserShortBlockView class="is-small" 
															imagetype="is-small" 
															contentBinding="this" 
															showCity=false 
															action="selectUser"
															actionContentBinding="this"}}

														</div>

													{{/each}}

												</div>

											</div>
											<div class="space by-one"></div>

										{{else}} 

										Pablo mete un mensaje diciendo q no tienes amigos

										{{/if}} 

									{{else}} 

										{{view Yn.SpinnerView}}

									{{/if}} 



								{{/view}}

								{{#view Yn.ScrollerView id="choose-user-facebook" class="choose-user-tab" 
									exclude="choose-user-menu-tabs footer choose-user-header channels"
									viewName="facebook" }}

									{{#unless user.hasFacebook}} 

									<div class="space by-nine"></div>
									<div class="choose-user-alert-text">
										{{I18n activateFacebook}}
									</div>

									{{else}} 

										{{#if facebookIsLoaded }} 

											{{#if facebookContent.length }} 

													<div class="space by-one"></div>
													<div class="choose-user-channel-people box">

														<div class="choose-user-channel-people-title box-title box-title-top">

															{{title}}:

														</div>

														<div class="choose-user-channel-people-content box-content">

															{{#each facebookContent}}

																{{#view Yn.BtapView class="choose-user-channel-people-content-element"
																	action="selectFacebookUser"
																	actionContentBinding="this"}}

																	
																	{{view Yvi.UserShortBlockView class="is-small" 
																		imagetype="is-small" 
																		isFBUser=true 
																		fbNameBinding="name"
																		fbIdBinding="id"
																		action="selectUser"
																		actionContentBinding="this"}}

																{{/view}}


															{{/each}}

														</div>

													</div>
													<div class="space by-one"></div>

											{{else}} 

												 No hay contenido

											{{/if}} 

										{{else}} 

											{{view Yn.SpinnerView}}

										{{/if}} 

									{{/unless}} 


								{{/view}}

								{{#view Yn.ScrollerView id="choose-user-twitter" class="choose-user-tab" 
									exclude="choose-user-menu-tabs footer choose-user-header channels"
									viewName="twitter" }}


									{{#unless user.hasTwitter}} 
										<div class="space by-nine"></div>
										<div class="choose-user-alert-text">
											{{I18n unsupportedTwitter}}
										</div>
									{{/unless}}


								{{/view}}


					{{/view}}


			{{/view}}





			{{#view Yn.ScrollerView id="choose-user-type-nears" class="choose-user-type-tab" 
				exclude="choose-user-menu-tabs footer choose-user-header"
				viewName="nears" }}


				<div class="space by-one"></div>

				<div id="choose-user-venue" class="box">

					<div id="choose-user-venue-title" class="box-title box-title-top">

						{{I18n people_near}}:

					</div>

					<div id="choose-user-venue-content" class="box-content">

						{{view Yvi.VenueShortBlockView class="is-normal" imagetype="is-normal" contentBinding="venue" }}

					</div>

				</div>

				<div class="space by-one"></div>


					{{#if nearIsLoaded }} 

						{{#if nearContent.length }} 


								<div id="choose-user-near-people" class="box">

									<div id="choose-user-near-people-title" class="box-title box-title-top">

										{{I18n all_people}}

									</div>

									<div id="choose-user-near-people-content" class="box-content">

										{{#each nearContent }}

											<div class="choose-user-near-people-content-element">

												{{view Yvi.UserShortBlockView class="is-small" 
													imagetype="is-small" 
													contentBinding="this" 
													showCity=false 
													action="selectUser"
													actionContentBinding="this"}}

											</div>

										{{/each}}

									</div>

								</div>

								<div class="space by-one"></div>

						{{else}} 

							 No hay usuarios cerca del Venue

						{{/if}} 

					{{else}} 

						{{view Yn.SpinnerView}}

					{{/if}} 


			{{/view}}



		{{/view}}

</div>

{{/with}}
