{{#view Yn.HeaderView }}

  {{view Yn.BackButtonView }}

{{/view }}

<div class="screen-container">

  <div class="">{{I18n all}}</div>
  <div class="">{{I18n nears}}</div>
  <div class="">{{I18n friends}}</div>
  <div class="">{{I18n consignee}}</div>

</div>
