{{#view Yn.HeaderView }}

	{{view Yn.BackButtonView}}

	<div class="header-title is-subtitle">{{I18n comment_pl}}</div>
	<div class="header-subtitle">{{product.name}}</div>
	
	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon" icon="e" }}

{{/view }}

<div class="header-action">

	<div class="left">
	
		{{view Yvi.CommentInputView }}
		
	</div>
	
	<div class="middle"></div>
	
	<div class="right">
	
		{{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white" contentI18n="send" action="" }}
		
	</div>
	
</div>

<div class="screen-container is-header-action">


	<div id="activities-comments-section">

		<div class="space by-one"></div>

		{{#each activities}}

			{{#if isLike}}
				{{view Yvi.UserInteractionLikedBlockView contentBinding="like" }}
			{{/if}}

			{{#if isComment}}
				{{view Yvi.UserInteractionCommentedBlockView contentBinding="comment" }}
			{{/if}}

			<div class="space by-one"></div>

		{{/each}}

	</div>

</div>
