
{{#with view}}

{{#view Yn.HeaderView id="comments-header"}}

	{{view Yn.BackButtonView}}

	<div class="header-title is-subtitle">{{I18n comment_pl}}</div>
	<div class="header-subtitle">{{product.name}}</div>

{{/view }}

<div id="comments-header-action" class="header-action">

	<div class="left">
	
    {{view Yn.InputView id="comments-input" class="single-input" 
      placeholderI18n="write_something_message"
      type="text"}}
		
	</div>
	
	<div class="middle"></div>
	
	<div class="right">
	
    {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white" 
      contentI18n="send" 
      action="comment" }}
		
	</div>
	
</div>

<div class="screen-container is-header-action">

  {{#view Yn.ScrollerView id="activities-comments-section" 
    exclude="footer comments-header comments-header-action"}}

		<div class="space by-one"></div>


      {{#if activities.length}}

          {{#each activities}}

            {{#if_type this type="Yn.Comment"}}
              {{view Yvi.UserInteractionCommentedBlockView contentBinding="this" }}
            {{/if_type}}

            {{#if_type this type="Yn.Like"}}
              {{view Yvi.UserInteractionLikedBlockView contentBinding="this" }}
            {{/if_type}}

            <div class="space by-one"></div>

          {{/each}}

      {{else}}
        No comments, no likes...        
      {{/if}}


  {{/view }}

</div>

{{/with }}
