{{#view Yn.HeaderView }}

  {{view Yn.BackButtonView}}

  <div class="header-title is-subtitle">{{I18n comments_title}}</div>
  <div class="header-subtitle">{{product.name}}</div>

{{/view }}

<div class="header-action">
    {{view Yvi.CommentInputView }}
</div>

<div class="screen-container">


  <div id="activities-comments-section">

      {{#each activities}}

          {{#if isLike}}
               isLike
              {{humanize dateBinding="like.createdAt" }}
          {{/if}}

          {{#if isComment}}
                IsComment
              {{humanize dateBinding="comment.createdAt" }}
          {{/if}}
          <br/>
          ----------------

      {{/each}}

  </div>

</div>
