{{#with view}}

{{#view Yn.HeaderView id="edit-settings-header" class="with-small-shadow"}}

	{{view Yn.BackButtonView }}
	<div class="header-title">{{I18n settings}}</div>

{{/view }}


{{#view Yn.ScrollerView class="screen-container"
   userBinding="user"
   exclude="footer edit-settings-header"}}

	<div class="space by-one"></div>

	<div class="block-avatar is-disabled box">
		<div class="box-content three-column-table">
				<div class="block-avatar-content-element-image left-column"> 
					{{view Yn.SquareImageView id="avatar-square-image" class="is-small" contentBinding="user" withPhoto=true }}
				</div>
				<div class="main-text middle-column">
					{{I18n change_profile_picture}}
				</div>
				<div class="block-avatar-content-element-icon right-column">
					<span class="icon is-icon-normal is-icon-grey with-text" icon="d"></span>
				</div>
		</div>
	</div>

	<div class="space by-one"></div>

	<div class="box">
		<div class="box-content has-message">

        {{view Yn.InputView id="input-username" 
          class="main-text is-transparent"
					inputName="username"
					type="text"
          placeholderI18n="name"
          focusOutAction="changeName"
					valueBinding="user.name" }}
			
		</div>
	</div>

	<div class="space by-one"></div>

	<div class="box">
		<div class="box-title-top">
			{{I18n choose_a_city}}
		</div>

    <div class="box-content has-li">

      {{#each cities}}
        <div class="box-content-li two-column-table">
          <div class="main-text left-column">
            {{name}}
          </div>
          <div class="control right-column">
            {{view Yn.ToggleCircleButtonView 
              action="selectCity" 
              selectedBinding="view.user.city"
              contentBinding="this"}}
          </div>
        </div>
      {{/each}}

    </div>

	</div>

	<div class="space by-one"></div>

{{/view }}

{{/with}}
