{{#with view}}

{{#view Yn.HeaderView id="edit-settings-header" class="with-small-shadow"}}

	{{view Yn.BackButtonView }}
	<div class="header-title">{{I18n settings}}</div>

{{/view }}


{{#view Yn.ScrollerView class="screen-container"
   userBinding="user"
   exclude="footer edit-settings-header"}}

	<div class="space by-one"></div>

	<div id="block-avatar" class="box">
		<div id="block-avatar-content" class="box-content three-column-table">
				<div id="block-avatar-content-element-image" class="left-column"> 
					{{view Yn.SquareImageView class="is-small" contentBinding="user" withPhoto=true }}
				</div>
				<div id="block-avatar-content-element-name" class="middle-column">
					{{I18n change_profile_picture}}
				</div>
				<div id="block-avatar-content-element-icon" class="right-column">
					<span class="icon is-icon-normal is-icon-grey" icon="d"></span>
				</div>
		</div>
	</div>

	<div class="space by-one"></div>

	<div id="block-username" class="box">
		<div id="block-username-content" class="box-content">

				{{view Yn.InputView id="input-username" 
					inputName="username"
					type="text"
          placeholderI18n="name"
          focusOutAction="changeName"
					valueBinding="user.name" }}
			
		</div>
	</div>

	<div class="space by-one"></div>

	<div id="block-cities" class="box">
		<div id="block-cities-title" class="box-title box-title-top">
			{{I18n choose_a_city}}
		</div>



    {{#if cities.isLoaded }}

      <div id="block-cities-content" class="box-content">

        {{#each cities}}
          <div class="block-cities-element two-column-table">
            <div class="cityname left-column">
              {{name}}
            </div>
            <div class="control right-column">
              {{view Yn.ToggleCircleButtonView 
                action="selectCity" 
                selectedBinding="view.user.city"
                contentBinding="this"}}
            </div>
          </div>
        {{/each}}
        
      </div>

    {{/if}}

	</div>

	<div class="space by-one"></div>

{{/view }}

{{/with}}

