{{#with view}}

{{#view Yn.HeaderView id="friends-nearby-header"}}

	{{view Yn.BackButtonView }}

	<div class="header-title is-subtitle">
		{{I18n people_close_to}}
	</div>

	<div class="header-subtitle">
		{{venue.brand.name}}, {{venue.city.name}}
	</div>

{{/view }}

<div class="screen-container">

  {{#unless isNavigatingForward }}

    {{#view Yn.ScrollerView
        exclude="friends-nearby-header footer" 
        viewName="list" }}

      {{#if isLoaded }}

          <div class="space by-one"></div>
            <div class="box">
              <div class="box-content">

                {{#each content}}
                  <div class="friends-element">
                    {{view Yvi.UserShortBlockView class="is-normal" 
                      hasInviteButton=true
                      showCity=false
                      contentBinding="this" imagetype="is-normal"  }}
                  </div>
                {{/each}}

              </div>
            </div>
          <div class="space by-one"></div>

      {{else}} 
        {{view Yn.SpinnerView}}
      {{/if}}

    {{/view}}

  {{else}}

    {{view Yn.NavigationSpinnerView}}

  {{/unless}}

</div>

{{/with}}
