{{#with view}}

{{#view Yn.HeaderView id="invite-header" class="with-small-shadow"}}

  {{view Yn.HeaderCloseButtonView }}
  <div class="header-title">{{I18n header_invite}}</div>
  {{view Yn.AdaptativeButtonView class="header-button l-right is-blue button-text is-small is-font-white" 
    contentI18n="invite" 
    action="sendInvitation"}}

{{/view }}


{{#view Yn.ScrollerView class="screen-container" 
  exclude="invite-header" }}

  {{#if isExecutingAction}} 
    {{view Yn.SpinnerView }}
  {{/if}}

	<div class="space by-two"></div>


	<div class="box">

    <div class="box-title box-text-title box-title-top">

			{{I18n invite_to_person_title}}:

		</div>

		{{#if hasUser }}

      {{view Yvi.InviteUserBoxContentView 
        userBinding="user"
        agendaUserBinding="agendaUser"
        facebookUserBinding="facebookUser" }}

		{{else}}

      {{#view Yn.BtapView class="box-content hasnot-item"
          action="goToChooseUser" }}

        <div class="box-content-element two-column-table">
            <div class="text left-column">
              {{I18n select_someone_to_invite}}
            </div>
            <div class="control right-column">
              <span class="icon is-icon-normal with-text" icon="d"></span>
            </div>
        </div>

      {{/view}}

		{{/if}}

	</div>

	<div class="space by-two"></div>

	<div class="block-invite-product box">


			{{#if invitation}}

        <div class="box-title box-text-title box-title-top">
          {{I18n resend_invitation_title}}:
        </div>

        <div class="box-content has-item">
          <div class="box-content-element three-column-table">
            <div class="picture left-column">
              {{view Yn.SquareImageView class="is-normal" contentBinding="invitation.product" withPhoto=true }}
            </div>
            <div class="name middle-column">
              <div class="high">{{invitation.product.name}}</div>
            </div>
          </div>
        </div>

			{{else}}

        <div class="box-title box-text-title box-title-top">
          {{I18n invite_to_product_title}}:
        </div>

        {{#if product}}


          <div  class="box-content has-item">
            <div class="box-content-element three-column-table">
              <div class="picture left-column">
                {{view Yn.SquareImageView class="is-normal" contentBinding="product" withPhoto=true }}
              </div>
              <div class="name middle-column">
                <div class="high">{{product.name}}</div>
                {{view Yn.PriceLabelView class="is-small"
                  productBinding="product"}}
              </div>

              <div class="action-button right-column">
                {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
                  contentI18n="change"
                  action="changeProduct" }}
              </div>
            </div>
          </div>


        {{else}}

          {{#view Yn.BtapView class="box-content hasnot-item"
            action="goToChooseProduct"}}

            <div class="box-content-element two-column-table" >
                <div class="text left-column">
                  {{I18n select_something_for_inviting}}
                </div>
                <div class="control right-column">
                  <span class="icon is-icon-normal is-icon-grey with-text" icon="d"></span>
                </div>
            </div>

          {{/view}}

        {{/if}}

			{{/if}}

	</div>

	<div class="space by-two"></div>

  {{#if venue}}

    <div class="box">
      <div class="box-title box-text-title box-title-top">
        {{I18n invite_to_venue_title}}:
      </div>
      <div class="box-content">
        <div class="box-content-element two-column-table">
          <div class="picture left-column">
            {{view Yn.SquareImageView class="is-normal" contentBinding="venue.brand" withPhoto=true }}
          </div>
          <div class="name middle-column">
            <div class="high">{{venue.name}}</div>
            <div class="low">
              {{venue.address}}
              {{#if venue.zip}}, {{venue.zip}} {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}


  {{#if venues}}

    <div class="box">

      <div class="box-title box-text-title box-title-top">
        {{I18n invite_to_venue_title}}:
      </div>

      <div class="box-content">
        {{#each venues}}
          <div class="box-content-element three-column-table">
            <div class="picture left-column">
              {{view Yn.SquareImageView class="is-normal" contentBinding="brand" withPhoto=true }}
            </div>
            <div class="name middle-column">
              <div class="high">{{name}}</div>
              <div class="low">
                {{address}}
                {{#if zip}}, {{zip}} {{/if}}
              </div>
            </div>
            <div class="action-button right-column">
              {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white" 
                contentI18n="ok"
                actionContentBinding="this"
                action="selectVenue" }}
            </div>
          </div>
        {{/each}}


      </div>

    </div>

  {{/if}}

	<div class="space by-one"></div>

  {{view Yn.MainButtonView id="invite-send" class="is-blue" 
    contentI18n="invite" 
    action="sendInvitation"}}

	<div class="space by-one"></div>

{{/view }}

{{/with}}
