{{#with view }}

	{{#view Yn.HeaderView}}
    {{view Yn.BackButtonView }}
		<div class="header-title">{{I18n your_invitation}}</div>
    {{view Yn.MapButtonView class="l-right" 
      actionContentBinding="invitation"
      action="goToMap" }}
  {{/view }}


  {{#if hasFooter }}

    {{#view Yn.ScrollerView class="screen-container" 
      loggedUserBinding="loggedUser"
      exclude=".header"
      excludeGlobal="footer" }}
      {{template invitation_container}}
    {{/view }}

  {{else}}

    {{#view Yn.ScrollerView class="screen-container" 
      loggedUserBinding="loggedUser"
      exclude=".header" }}
      {{template invitation_container}}
    {{/view }}

  {{/if}}

{{/with}}
