{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

  {{view Yn.HeaderCloseButtonView }}
  <div class="header-title">{{I18n invite}}</div>

{{/view }}

<div class="screen-container">

	<div class="space by-one"></div>

	<div id="block-invite-product" class="box">

		<div id="block-invite-product-title" class="box-title box-title-top">

			{{I18n invite_to_product_title}}:

		</div>

			{{#if product}}

				<div id="block-invite-product-content-sel" class="box-content">
					<div class="block-invite-product-element three-column-table">
						<div class="picture left-column">
							{{view Yn.SquareImageView class="is-normal" contentBinding="product" withPhoto=true }}
						</div>
						<div class="name middle-column">
							<div class="productname">{{product.name}}</div>

							<div class="price-label is-small">{{product.price}} {{I18n currency_symbol}}</div>
						</div>

						<div class="change-button right-column">
							{{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
	              contentI18n="change"
	              action="changeProduct" }}
						</div>
					</div>
				</div>

			{{else}}

        {{#view Yn.BtapView id="block-invite-product-content" class="box-content"
          action="goToChooseProduct"}}

          <div class="block-invite-product-element two-column-table" >
              <div class="text left-column">
                {{I18n select_something_for_inviting}}
              </div>
              <div class="control right-column">
                <span class="icon is-icon-normal is-icon-grey with-text" icon="d"></span>
              </div>
          </div>

        {{/view}}

			{{/if}}

	</div>

	<div class="space by-one"></div>

	<div id="block-invite-user" class="box">

		<div id="block-invite-user-title" class="box-title box-title-top">

			{{I18n invite_to_person_title}}:

		</div>

		{{#if hasUser }}

			<div id="block-invite-user-content-sel" class="box-content">

				{{#if user }}
					<div class="block-invite-user-element three-column-table">
						<div class="picture left-column">
							{{view Yn.SquareImageView class="is-normal" contentBinding="user" withPhoto=true }}
						</div>
						<div class="name middle-column">
							<div class="username">{{user.name}}</div>
							{{#if user.city}}
								<div class="cityname">
									<span class="icon with-text is-icon-x-small" icon="i"></span>
									{{user.city.name}}
								</div>
							{{/if}}
						</div>
						<div class="change-button right-column">
							{{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
	              contentI18n="change"
	              action="changeUser" }}
						</div>
					</div>
				{{/if}}

				{{#if agendaUser }}
					<div class="block-invite-user-element three-column-table">
						<div class="picture left-column">
							
						</div>
						<div class="name middle-column">
							<div class="username">{{agendaUser.name}}</div>
							{{#if agendaUser.city}}
								<div class="cityname">
									<span class="icon with-text is-icon-x-small" icon="i"></span>
									{{agendaUser.city.name}}
								</div>
							{{/if}}
						</div>
						<div class="change-button right-column">
							{{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
	              contentI18n="change"
	              action="changeUser" }}
						</div>
					</div>
				{{/if}}

				{{#if facebookUser }}
					<div class="block-invite-user-element three-column-table">
						<div class="picture left-column">
							{{view Yn.SquareImageView class="is-normal" contentBinding="facebookUser.id" withPhoto=true isFBUser=true }}
						</div>
						<div class="name middle-column">
							<div class="username">{{facebookUser.name}}</div>
							{{#if facebookUser.city}}
								<div class="cityname">
									<span class="icon with-text is-icon-x-small" icon="i"></span>
									{{facebookUser.city.name}}
								</div>
							{{/if}}
						</div>
						<div class="change-button right-column">
							{{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
	              contentI18n="change"
	              action="changeUser" }}
						</div>
					</div>
				{{/if}}

			</div>

		{{else}}

      {{#view Yn.BtapView id="block-invite-user-content" class="box-content"
          action="goToChooseUser" }}

        <div class="block-invite-user-element two-column-table">
            <div class="text left-column">
              {{I18n select_someone_to_invite}}
            </div>
            <div class="control right-column">
              <span class="icon is-icon-normal is-icon-grey with-text" icon="d"></span>
            </div>
        </div>

      {{/view}}

		{{/if}}

	</div>

	<div class="space by-one"></div>


  {{view Yn.MainButtonView id="invite-send" class="is-blue" 
    contentI18n="send" 
    action="sendInvitation"}}


</div>

{{/with}}
