{{#with view }}

	{{#view Yn.HeaderView id="invitation-header" class="with-small-shadow" }}
    {{view Yn.BackButtonView }}
		<div class="header-title">{{I18n your_invitation}}</div>
    {{view Yn.MapButtonView class="l-right" 
      actionContentBinding="invitation"
      action="goToMap" }}
	{{/view }}

  {{#view Yn.ScrollerView class="screen-container" 
    loggedUserBinding="loggedUser"
    exclude="invitation-header footer" }}

    <div class="space by-one"></div>

    {{view Yvi.VenueBoxView 
      productBinding="invitation.product"
      invitationBinding="invitation"
      disableTap=true
      venueBinding="invitation.venue"
      isGeopositionOnBinding="isGeopositionOn" }}

    {{view Yn.MainButtonView class="is-blue" 
      contentI18n="use_in_store" 
      actionContentBinding="invitation"
      action="useIt" }}


    {{#if invitation.reverseComments.length }}


      <div class="box invitation-comments">
        <div class="box-content has-li">

          {{#each invitation.reverseComments }}

              <div class="box-content-li-no-border box-content-element two-column-table">

                {{#if_eq "view.loggedUser user"}}

                  <div class="detail-text comment-text is-mine">
                    {{comment}}
                  </div>

                  <div class="comment-image is-mine">
                    {{view Yn.SquareImageView class="is-small"
                      contentBinding="user"
                      withPhoto=true }}
                  </div>

                {{else}}

                  <div class="comment-image">
                    {{view Yn.SquareImageView class="is-small"
                      contentBinding="user"
                      withPhoto=true }}
                  </div>

                  <div class="detail-text comment-text">
                    {{comment}}
                  </div>

                {{/if_eq}}

              </div>
          {{/each}}

        </div>
      </div>

      <div class="space by-one"></div>

    {{/if}}

    <div class="box">

      <div class="box-content">
        <div class="box-content-element two-column-table">

          <div class="main-text left-column">
            {{view Yvi.InvitationCommentInputView id="invitation-comment-input" class="single-input"
              scrollToOnFocusIn=false
              valueBinding="inputValue"
              userBinding="invitation.fromUser"}}
          </div>

          <div class="control right-column fr">
            {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white"
              contentI18n="send"
              action="sendComment"}}
          </div>

        </div>
      </div>

    </div>

    <div class="space by-two"></div>
    <div class="box">
      {{view Yvi.SelectItemBoxContentView
        contentI18n="button_terms_and_conditions" 
        actionContentBinding="invitation"
        action="showTerms" }}
    </div>
    <div class="space by-one"></div>

	{{/view }}

{{/with}}
