{{#view Yn.HeaderView }}

		{{view Yn.BackButtonView }}
		
		<div class="header-title">{{I18n invite}}</div>

{{/view }}

<div class="screen-container">

	<div class="space by-one"></div>

	<div id="block-notifications" class="box">

		<div id="block-notifications-title" class="box-title box-title-top">

			{{I18n notification pluralize=true}}

		</div>

		<div id="block-notifications-list" class="box-content"> 

			<div id="sms-notification" class="block-notifications-element no-last two-column-table">

				<div class="notification-label left-column">

					{{I18n agenda}}

				</div>

				<div class="control right-column">

					{{view Yn.SwitchButtonView isOn=true }}

				</div>

			</div>

			<div id="mail-notification" class="block-notifications-element no-last two-column-table">

				<div class="notification-label left-column">

					{{I18n agenda}}

				</div>

				<div class="control right-column">

					{{view Yn.SwitchButtonView isOn=false }}

				</div>

			</div>

			<div id="facebook-notification" class="block-notifications-element last two-column-table">

				<div class="notification-label left-column">

					Facebook

				</div>

				<div class="control right-column">

					{{view Yn.SwitchButtonView isOn=false }}

				</div>

			</div>

			<div id="twitter-notification" class="block-notifications-element last two-column-table">

				<div class="notification-label left-column">

					Twitter

				</div>

				<div class="control right-column">

					{{view Yn.SwitchButtonView isOn=false }}

				</div>

			</div>

		</div>

	</div>

	<div class="space by-two"></div>

	{{view Yn.MainButtonView id="invite-send" class="is-blue" contentI18n="send" }}

</div>