{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}

		{{view Yn.BackButtonView }}
		
		<div class="header-title">{{I18n invite}}</div>

		{{view Yn.AdaptativeButtonView class="header-button l-right is-black button-text is-small is-font-white" contentI18n="next" action="next"}}

{{/view }}

<div class="screen-container">

	<div class="space by-one"></div>

	<div id="block-invite-product" class="box">

		<div id="block-invite-product-title" class="box-title box-title-top">

			{{I18n invite_to_product_title}}:

		</div>

			{{#if product}}

				<div id="block-invite-product-content-sel" class="box-content">
					<div class="block-invite-product-element three-column-table">
						<div class="picture left-column">
							{{view Yn.SquareImageView class="is-normal" contentBinding="product" withPhoto=true }}
						</div>
						<div class="name middle-column">
							{{product.name}}
						</div>
						<div class="right-column price-label-content">
							<div class="price-label">{{product.price}} {{I18n currency_symbol}}</div>
						</div>
					</div>
				</div>

			{{else}}

				<div id="block-invite-product-content" class="box-content">
					{{#view Yn.BtapView class="block-invite-product-element two-column-table"
						action="goToChooseProduct" }}

						<div class="text left-column">
							{{I18n select_something_for_inviting}}
						</div>
						<div class="control right-column">
							<span class="icon is-icon-normal is-icon-grey with-text" icon="d"></span>
						</div>

					{{/view}}
				</div>

			{{/if}}

	</div>

	<div class="space by-one"></div>

	<div id="block-invite-user" class="box">

		<div id="block-invite-user-title" class="box-title box-title-top">

			{{I18n invite_to_person_title}}:

		</div>

		{{#if hasUser }}

			<div id="block-invite-user-content-sel" class="box-content">

				{{#if user }}
					<div class="block-invite-user-element three-column-table">
						<div class="picture left-column">
							{{view Yn.SquareImageView class="is-normal" contentBinding="user" withPhoto=true }}
						</div>
						<div class="name middle-column">
							<div class="username">{{user.name}}</div>
							{{#if user.city}}
								<div class="cityname">
									<span class="icon with-text is-icon-x-small" icon="i"></span>
									{{user.city.name}}
								</div>
							{{/if}}
						</div>
						<div class="change-button right-column">
							{{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
	              contentI18n="change"
	              action="changeUser" }}
						</div>
					</div>
				{{/if}}

				{{#if agendaUser }}
					<div class="block-invite-user-element three-column-table">
						<div class="picture left-column">
							
						</div>
						<div class="name middle-column">
							<div class="username">{{agendaUser.name}}</div>
							{{#if agendaUser.city}}
								<div class="cityname">
									<span class="icon with-text is-icon-x-small" icon="i"></span>
									{{agendaUser.city.name}}
								</div>
							{{/if}}
						</div>
						<div class="change-button right-column">
							{{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
	              contentI18n="change"
	              action="changeUser" }}
						</div>
					</div>
				{{/if}}

				{{#if facebookUser }}
					<div class="block-invite-user-element three-column-table">
						<div class="picture left-column">
							{{view Yn.SquareImageView class="is-normal" contentBinding="facebookUser.id" withPhoto=true isFBUser=true }}
						</div>
						<div class="name middle-column">
							<div class="username">{{facebookUser.name}}</div>
							{{#if facebookUser.city}}
								<div class="cityname">
									<span class="icon with-text is-icon-x-small" icon="i"></span>
									{{facebookUser.city.name}}
								</div>
							{{/if}}
						</div>
						<div class="change-button right-column">
							{{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
	              contentI18n="change"
	              action="changeUser" }}
						</div>
					</div>
				{{/if}}

			</div>

		{{else}}

			<div id="block-invite-user-content" class="box-content">

				{{#view Yn.BtapView class="block-invite-user-element two-column-table"
					action="goToChooseUser" }}

					<div class="text left-column">
						{{I18n select_someone_to_invite}}
					</div>
					<div class="control right-column">
						<span class="icon is-icon-normal is-icon-grey with-text" icon="d"></span>
					</div>

				{{/view}}

			</div>

		{{/if}}

	</div>

	<div class="space by-one"></div>

	<div id="block-invite-message" class="box">

		<div id="block-invite-message-title" class="box-title box-title-top">

			{{I18n message}}:

		</div>

		<div id="block-invite-message-content" class="box-content">

      {{view Yn.InputView id="invite-input" class="single-input" 
        scrollToOnFocusIn=false
        placeholderI18n="write_something_message"
        type="text"}}

		</div>

	</div>

</div>

{{/with}}
