{{#view Yn.HeaderView }}


    <div class="back-button">Back</div>
    <div class="header-title">{{I18n invite_title}}</div>

  {{view Yn.I18nBtapView id="next" class="header-button l-right rectangle-button-adaptative is-black button-text is-small is-font-white" action="next"}}

{{/view }}

<div class="screen-container">


  <div id="invite-product">
    <div class="title">
      {{I18n invite_to_product_title}}:
    </div>

    <div class="content">


        <div class="price-label"> 
          {{product.price}} {{I18n currency_symbol}}
        </div>

    </div>

  </div>


  <div id="invite-user">

    <div class="title">
      {{I18n invite_to_person_title}}:
    </div>


    <div class="plus-button icon">
    </div>

    <div class="plus-button icon is-grey">
    </div>

    <div class="activity-button icon"></div>


  </div>


  <div id="invite-message">

    <div class="title">
      {{I18n message}}:
    </div>

  </div>

</div>
