{{#view Yn.HeaderView }}

		{{view Yn.BackButtonView }}
		
		<div class="header-title">{{I18n invite}}</div>

{{/view }}

<div class="screen-container">

	<div class="space by-one"></div>

	<div id="block-notifications" class="box">

		<div id="block-notifications-title" class="box-title box-title-top">

			{{I18n notification pluralize=true}}

		</div>

		<div id="block-notifications-list" class="box-content"> 

			<div id="sms-notification" class="block-notifications-element two-column-table">

				<div class="notification-label left-column">

					{{I18n agenda}}

				</div>

				<div class="control right-column">

					{{view Yn.SwitchButtonView isOn=smsNotification }}

				</div>

			</div>

			{{#if smsNotification}}

				<div id="sms-notification-message" class="block-notifications-element">

					{{view Yvi.InviteSendInputView id="sms-notification-message-text" default_text="enter_the_phone_number" }}

				</div>				

			{{/if}}

			<div id="mail-notification" class="block-notifications-element two-column-table">

				<div class="notification-label left-column">

					{{I18n email}}

				</div>

				<div class="control right-column">

					{{view Yn.SwitchButtonView isOn=mailNotification }}

				</div>

			</div>

			{{#if mailNotification}}

				<div id="mail-notification-message" class="block-notifications-element">

					{{view Yvi.InviteSendInputView id="mail-notification-message-text" default_text="write_something_message" }}

				</div>				

			{{/if}}

			<div id="facebook-notification" class="block-notifications-element two-column-table">

				<div class="notification-label left-column">

					Facebook

				</div>

				<div class="control right-column">

					{{view Yn.SwitchButtonView isOn=facebookNotification }}

				</div>

			</div>

			{{#if facebookNotification}}

				<div id="facebook-notification-message" class="block-notifications-element">

					{{view Yvi.InviteSendInputView id="facebook-notification-message-text" default_text="write_something_message" }}

				</div>				

			{{/if}}

			{{#if twitterNotification}}

				<div id="twitter-notification" class="block-notifications-element two-column-table">

					<div class="notification-label left-column">

						Twitter

					</div>

					<div class="control right-column">

						{{view Yn.SwitchButtonView isOn=twitterNotification }}

					</div>

				</div>

				<div id="twitter-notification-message" class="block-notifications-element">

					{{view Yvi.InviteSendInputView id="twitter-notification-message-text" default_text="write_something_message" }}

				</div>

			{{else}}

				<div id="twitter-notification" class="block-notifications-element two-column-table">

					<div class="notification-label left-column">

						Twitter

					</div>

					<div class="control right-column">

						{{view Yn.SwitchButtonView isOn=twitterNotification }}

					</div>

				</div>

			{{/if}}

		</div>

	</div>

	<div class="space by-two"></div>

	{{view Yn.MainButtonView id="invite-send" class="is-blue" contentI18n="send" }}

</div>