{{#with view}}

{{#view Yn.HeaderView}}

  {{view Yn.HeaderCloseButtonView }}
  <div class="header-title">{{I18n header_invite}}</div>
  {{view Yn.AdaptativeButtonView class="header-button l-right is-blue button-text is-small is-font-white" 
    contentI18n="send" 
    action="sendInvitation"}}

{{/view }}


{{#view Yn.ScrollerView class="screen-container" 
  exclude=".header" }}

  {{#if isExecutingAction}} 
    {{view Yn.SpinnerView }}
  {{/if}}

	<div class="space by-one"></div>


	<div class="box">

    <div class="box-title-top">

			{{I18n invite_to_person_title}}:

		</div>

		{{#if hasUser }}

      {{view Yvi.InviteUserBoxContentView 
        usernameBinding="username"
        userBinding="user"
        agendaUserBinding="agendaUser"
        facebookUserBinding="facebookUser" }}

		{{else}}

      {{view Yvi.SelectItemBoxContentView
        contentI18n="select_someone_to_invite"
        action="goToChooseUser"}}

		{{/if}}

	</div>

	<div class="space by-one"></div>

	<div class="block-invite-product box">


			{{#if invitation}}

        <div class="box-title-top">
          {{I18n resend_invitation_title}}:
        </div>

        <div class="box-content">
          <div class="box-content-element two-column-table">
            <div class="picture left-column">
              {{view Yn.SquareImageView class="is-normal" contentBinding="invitation.product" withPhoto=true }}
            </div>
            <div class="name middle-column">
              <div class="main-text">{{invitation.product.name}}</div>
            </div>
          </div>
        </div>

			{{else}}

        <div class="box-title-top">
          {{I18n invite_to_product_title}}:
        </div>

        {{#if product}}


          <div  class="box-content">
            <div class="box-content-element three-column-table">
              <div class="picture left-column">
                {{view Yn.SquareImageView class="is-normal" contentBinding="product" withPhoto=true }}
              </div>
              <div class="name middle-column">
                <div class="main-text">{{product.name}}</div>
                {{view Yn.PriceLabelView class="is-small"
                  productBinding="product"}}
              </div>

              <div class="action-button right-column">
                {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
                  contentI18n="change"
                  action="changeProduct" }}
              </div>
            </div>
          </div>


        {{else}}

          {{view Yvi.SelectItemBoxContentView
            contentI18n="select_something_for_inviting"
            action="goToChooseProduct"}}

        {{/if}}

			{{/if}}

	</div>

	<div class="space by-one"></div>

  {{#if venue}}

    <div class="box">
      <div class="box-title-top">
        {{I18n invite_to_venue_title}}:
      </div>
      <div class="box-content">
        <div class="box-content-element two-column-table">
          <div class="picture left-column">
            {{view Yn.SquareImageView class="is-normal" contentBinding="venue.brand" withPhoto=true }}
          </div>
          <div class="name middle-column">
            <div class="main-text">{{venue.name}}</div>
            <div class="detail-text">
              {{venue.address}}
              {{#if venue.zip}}, {{venue.zip}} {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/if}}


  {{#if venues}}

    <div class="box">

      <div class="box-title-top">
        {{I18n invite_to_venue_title}}:
      </div>

      <div class="box-content">
        {{#each venues}}
          <div class="box-content-element three-column-table">
            <div class="picture left-column">
              {{view Yn.SquareImageView class="is-normal" contentBinding="brand" withPhoto=true }}
            </div>
            <div class="name middle-column">
              <div class="main-text">{{name}}</div>
              <div class="detail-text">
                {{address}}
                {{#if zip}}, {{zip}} {{/if}}
              </div>
            </div>
            <div class="action-button right-column">
              {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white" 
                contentI18n="ok"
                actionContentBinding="this"
                action="selectVenue" }}
            </div>
          </div>
        {{/each}}


      </div>

    </div>

  {{/if}}


  {{#if hasUser }}
    {{#if venue }}

      <div class="space by-one"></div>

      <div class="box">
        <div class="box-content has-padding">

          {{view Yvi.InviteWriteInputView id="invite-comment" class="single-input" 
            usernameBinding="username"
            valueBinding="inputValue" }}

        </div>
      </div>

    {{/if}}
  {{/if}}

  <div class="space by-two"></div>
  <div class="detail-text is-center is-not-in-box">
    {{I18n invite_pay_with_card_message}}
  </div>

  {{view Yvi.InviteMainButtonView class="is-blue single-space" 
    usernameBinding="username"
    action="sendInvitation"}}


  {{#unless product.isFree}}

    <div class="detail-text is-center is-not-in-box">
      {{I18n or}}
    </div>

    {{view Yn.MainButtonView class="is-green single-space" 
      contentI18n="invite_meet_button_message"
      action="meetSomeone" }}

  {{/unless}}

{{/view }}

{{/with}}
