{{#view Yn.HeaderView }}

    <div class="back-button">Back</div>
    <div class="header-title">{{I18n invitation}}</div>
    <!--<div class="header-button">{{I18n exchange}}</div>-->

{{/view }}

<div class="screen-container">

	<!--<div class="space by-one"></div>-->

    <div class="">{{I18n invitation_from_person_title}}</div>
    <div class="">{{I18n invitation}}</div>
    <div class="">{{I18n description}}</div>
    <div class="">{{invitation.fromUser.name}}</div>
    <div class="">{{invitation.product.name}}</div>

</div>
