{{#with view}}

{{#view Yn.HeaderView}}
  {{view Yn.BackButtonView }}
  <div class="header-title">
      {{I18n privacy_policy}}
    {{#if isPrivacy }}
    {{else}}
      {{I18n terms_and_conditions}}
    {{/if}}
  </div>
{{/view }}


{{#if hasFoooter }}

  {{#view Yn.ScrollerView class="screen-container"
    exclude=".header"
    excludeGlobal="footer" }}
    
    {{template legal_container}}

  {{/view }}

{{else}}

  {{#view Yn.ScrollerView class="screen-container"
    exclude=".header" }}
    
    {{template legal_container}}

  {{/view }}

{{/if}}

{{/with}}
