{{#with view }}

{{#if isBlocked}}
  {{view Yn.SpinnerView }}
{{/if}}

<div class="row one">
  <div class="space by-four"></div> 
  <div class="brand-landing-container brand-container is-small"></div>
</div>

{{#if hasConnection}}

  <div class="row two">

  </div>

  <div class="row three">

    {{view Yn.SocialLargeButtonView class="facebook" 
      contentI18n="login_facebook" 
      action="loginWithFb" }}

  </div>

{{else}}

  <div class="row two">
    <div class="text is-font-black is-center">{{I18n login_msg_reconnect}}</div>
  </div>

  <div class="row three">

    {{view Yn.SingleLargeButtonView class="is-grey is-font-black" 
      contentI18n="reconnect" 
      action="reconnect" }}

  </div>

{{/if}}


{{/with}}
