<div class="space by-eight"></div>

<div class="big-input-content">

  {{view Yn.InputView id="login-email" class="big-input up" 
    inputName="email"
    type="email"
    placeholderI18n="email" }} 

  {{view Yn.InputView id="login-password" class="big-input down" 
    inputName="password"
    type="password"
    placeholderI18n="password" }} 

</div>

<div id="buttons" class="center">

  {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black" 
    inputs="login-email login-password"
    mixins="Yn.FormActionContent"
    contentI18n="enter" 
    action="loginWithEmail" }}
		
  {{view Yn.SocialBigButtonView class="facebook" 
    contentI18n="login_facebook" 
    action="loginWithFb" }}

  {{view Yn.SocialBigButtonView class="twitter" 
    contentI18n="login_twitter" 
    action="loginWithTwitter" }}

  {{view Yn.AdaptativeButtonView class="register-button is-orange button-text is-small is-font-white" 
    contentI18n="register" 
    action="showRegister" }}

	<div class="about-us text is-font-orange">{{I18n about_us}}</div>
	
</div>
