{{#with view }}

{{#if isBlocked}}
  {{view Yn.SpinnerView }}
{{/if}}

<div class="row one">
  <div class="space by-four"></div> 
  <div class="brand-landing-container brand-container is-small"></div>
</div>

{{#if hasConnection}}

  <div class="row two">

    <div class="space"></div>
    <div class="big-input-content">

      {{view Yn.InputView id="login-email" class="big-input up" 
        inputName="email"
        type="email"
        placeholderI18n="email" }} 

      {{view Yn.InputView id="login-password" class="big-input down" 
        inputName="password"
        type="password"
        placeholderI18n="password" }} 

    </div>

  </div>

  <div class="row three">

      {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black is-middle" 
        inputs="login-email login-password"
        contentI18n="enter" 
        action="loginWithEmail" }}

      <div class="space by-one"></div>

      {{view Yn.SocialBigButtonView class="facebook is-middle" 
        contentI18n="login_facebook" 
        action="loginWithFb" }}

      <div class="space by-two"></div>

      {{view Yn.AdaptativeButtonView class="register-button is-orange button-text is-small is-font-white is-middle" 
        contentI18n="register" 
        action="showRegister" }}

  </div>

{{else}}

  <div class="row two">
    <div class="space"></div> 
    <div class="landing-text">{{I18n login_msg_reconnect}}</div>
  </div>

  <div class="row three">

    {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black is-middle" 
      contentI18n="reconnect" 
      action="reconnect" }}

  </div>

{{/if}}


{{/with}}
