{{#with view }}

{{#if isBlocked}}
  {{view Yn.SpinnerView }}
{{/if}}

<div class="row one">
  <div class="space by-four"></div> 
  <div class="brand-landing-container brand-container is-small"></div>
</div>

{{#if hasConnection}}

  <div class="row two">

  </div>

  <div class="row three">

    {{view Yn.SocialBigButtonView class="facebook is-middle" 
      contentI18n="login_facebook" 
      action="loginWithFb" }}

  </div>

{{else}}

  <div class="row two">
    <div class="landing-text">{{I18n login_msg_reconnect}}</div>
  </div>

  <div class="row three">

    {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black is-middle" 
      contentI18n="reconnect" 
      action="reconnect" }}

  </div>

{{/if}}


{{/with}}
