{{#with view}}

  {{#view Yvi.MapSectionView class="map-section"}}

    {{#view Yn.HeaderView}}

      {{view Yvi.HeaderCloseButtonMapView }}
      <div class="header-title">
        {{#if showVenue}}
          {{venue.brand.name}}
        {{else}}
          {{I18n map_title}}
        {{/if}}
      </div>

      {{#if withHeaderAction }}
        {{#view Yvi.CityAdaptativeButtonView class="header-button l-right is-orange button-text is-small is-font-white" 
          action="goToCities"}}
          {{selectedCity.name}}
        {{/view}}
      {{/if}}

    {{/view }}

    {{#if withHeaderAction }}

      <div class="header-action">
        <div class="left">

          {{#view Yvi.MapFormInputView}}
            {{view Yvi.MapInputView valueBinding="inputValue"}}
          {{/view}}
          
        </div>
        
        <div class="middle"></div>
        
        <div class="right">
        
          {{view Yvi.SwitchGeopositionEnablerButton class="geo-button is-grey is-small icon is-icon-small" 
            isOnBinding="isOnGeopositionEnabler"
            icon="o" 
            action="switchGeopositionEnabler" }}
          
        </div>
      </div>

    {{/if}}

    {{view Em.ContainerView id="map-screen-container" class="screen-container"}}
  {{/view }}


  {{#view Yn.ScrollerView class="cities-section aside back" 
    selectedCityBinding="selectedCity"}}
    <div class="cities">
      {{#each cities}}
        {{#view Yvi.MapCityView 
          class="city"
          action="selectCity"
          actionContentBinding="this"
          contentBinding="this"
          selectedBinding="view.selectedCity"}}
            {{name}}
        {{/view}}
      {{/each}}
    </div>
  {{/view}}

{{/with}}
