{{#with view}}

  <div class="map-section aside front">
    {{#view Yn.HeaderView }}

      {{view Yvi.HeaderCloseButtonMapView }}
      <div class="header-title">{{I18n map_title}}</div>
      {{view Yn.AdaptativeButtonView class="header-button l-right is-orange button-text is-small is-font-white" 
        contentBinding="selectedCity.name" action="goToCities"}}

    {{/view }}

    {{#if withHeaderAction }}

      <div class="header-action">
        <div class="left">

          {{#view Yvi.MapFormInputView}}
            {{view Yvi.MapInputView valueBinding="inputValue"}}
          {{/view}}
          
        </div>
        
        <div class="middle"></div>
        
        <div class="right">
        
          {{view Yvi.SwitchGeopositionEnablerButton class="geo-button is-grey is-small icon is-icon-small" 
            isOnBinding="isOnGeopositionEnabler"
            icon="o" 
            action="switchGeopositionEnabler" }}
          
        </div>
      </div>

    {{/if}}

    {{view Em.ContainerView id="map-screen-container" class="screen-container"}}
  </div>

  <div class="cities-section aside back">
  </div>

{{/with}}
