{{#with view}}

  {{#view Yn.HeaderView }}

    {{view Yn.AdaptativeButtonView class="header-button l-left is-black button-text is-small is-font-white" contentI18n="close" action="close"}}

    <div class="header-title">{{I18n map_title}}</div>

  {{/view }}

  <div class="header-action">

    <div class="left">
    
      {{view Yvi.MapInputView placeholder="_" }}
      
    </div>
    
    <div class="middle"></div>
    
    <div class="right">
    
      {{view Yvi.SwitchGeopositionEnablerButton class="geo-button is-grey is-small icon is-font-black is-icon-small" 
        isOnBinding="switchGeopositionEnablerButtonIsOn"
        icon="o" 
        action="switchGeopositionEnabler" }}
      
    </div>
    
  </div>

  {{view Em.ContainerView id="map-screen-container" class="screen-container is-header-action"}}

{{/with}}
