{{#with view}}

{{#view Yn.HeaderView id="me-header" class="with-big-shadow"}}

	<div class="header-title">{{I18n me_title}}</div>
	{{view Yn.IconBtapView class="activity-button"
		action="goToActivity" }}
	
	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon" 
		action="goToSettings"
		icon="t" }}

{{/view }}

<div id="me-screen-container" class="screen-container">

	<div id="me-screen-content">

		<div id="me-content-header">

				<div id="me-content-header-image">

					{{view Yn.SquareImageView class="is-big" contentBinding="user" withPhoto=true }}

				</div>

				<div id="me-content-header-text">


						<div id="me-content-header-text-name">
						
							<div id="me-content-header-text-user-name" class="header-text">
								{{user.name}}
							</div>
							
							<div id="me-content-header-text-user-state" class="state-text">
								{{user.status}}
							</div>

							{{#if user.city}}

								<div id="me-content-header-text-city" class="text is-small is-white">

									<span class="icon with-text is-icon-small" icon="i"></span>

									{{user.city.name}}

								</div>

							{{/if}}

						</div>

				</div>

		</div>

		<div id="me-tabs">

			{{#view Yvi.MeTabOptionView tab="friend" currentTabViewBinding="currentTabView" }}

				<div class="number">{{user.friendsCount}}</div>
				<div class="desc">{{I18n user_friends}}</div>

			{{/view}}

			{{#view Yvi.MeTabOptionView tab="unexchanged" currentTabViewBinding="currentTabView" }}

				<div class="number">{{user.unexchangedInvitationsCount}}</div>
				<div class="desc">{{I18n user_unexchanged}}</div>

			{{/view}}

			{{#view Yvi.MeTabOptionView class="last" tab="sent" currentTabViewBinding="currentTabView" }}

				<div class="number">{{user.sentInvitationsCount}}</div>
				<div class="desc">{{I18n user_sent}}</div>

			{{/view}}

		</div>


		{{#if notificationIsVisible}}

			{{view Yn.NotificationView
				contentBinding="notificationContent"
				typeBinding="notificationType"
				isInDomBinding="notificationIsVisible" }}

		{{/if}}


		{{#view Yn.TabMainView currentTabViewBinding="currentTabView" }}

			{{#view Yn.ScrollerView class="me-tab-pane friend" 
				exclude="me-header footer me-content-header me-tabs"
				viewName="friend" }}


					{{#if friends.isLoaded }}

							{{#if friends.length }}

								<div class="space by-one"></div>

								<div class="friends-box box">
									<div class="friends-list box-content">

										{{#each friends}}

											<div class="friends-element">
											
												{{view Yvi.UserShortBlockView class="is-normal" 
                          hasInviteButton=true
													contentBinding="this" imagetype="is-normal"  }}

											</div>

										{{/each}}
										
									</div>
								</div>

								<div class="space by-one"></div>


							{{else }}

								{{view Yn.EmptyView class="is-small"
									contentI18n="empty_friends"
									messageAction="invite"
									textAction="invite" }}

							{{/if}}

					{{else}} 
						{{view Yn.SpinnerView class="is-vertical-center"}}
					{{/if }}

				{{/view}}


				{{#view Yn.ScrollerView class="me-tab-pane unexchanged" 
					exclude="me-header footer me-content-header me-tabs"
					viewName="unexchanged" }}


					{{#if unexchangedInvitations.isLoaded }}

						{{#if unexchangedInvitations.length }}
				
							<div class="space by-one"></div>

							{{#each unexchangedInvitations}}

								<div class="block-unexchanged box">

									<div class="block-unexchanged-title box-title box-title-top">

										<div class="image">

											{{view Yn.SquareImageView class="is-small" contentBinding="fromUser" withPhoto=true }}

										</div>

										<div class="name">

                      {{#if fromUser.suspended }}
                        {{I18n someone}} {{I18n invites_you}}
                      {{else}}
                        {{fromUser.name}} {{I18n invites_you}}
                      {{/if}}

										</div>

                    <div class="resend">

                      {{view Yn.IconBtapView class="rectangle-button is-small is-high-grey icon is-icon-small is-font-grey" 
                        actionContentBinding="this"
                        action="resendInvitation"
                        icon="L" }}

                    </div>

									</div>

									<div class="block-unexchanged-content box-content">

										<div class="image">

											{{view Yn.SquareImageView class="is-normal" contentBinding="product" withPhoto=true }}

										</div>

										<div class="product">

											{{product.name}}

											{{#if product.city}}

												<div class="venue">

													<span class="icon with-text is-icon-small city" icon="i"></span>

													{{product.city}}

												</div>

											{{/if}}

										</div>

										<div class="exchange-button">

											{{#view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white" 
												action="selectInvitation" 
                        actionContentBinding="this"}}
                        &nbsp;&nbsp;&nbsp;{{I18n go}}&nbsp;&nbsp;&nbsp;
                      {{/view}}

										</div>

									</div>

								</div>
								
								<div class="space by-one"></div>

							{{/each}}

						{{else }}

								{{view Yn.EmptyView class="is-small"
									contentI18n="empty_unexchanged"
									messageAction="start"
									textAction="start" }}

						{{/if}}


					{{else }}
						{{view Yn.SpinnerView class="is-vertical-center"}}
					{{/if }}

				{{/view}}


				{{#view Yn.ScrollerView class="me-tab-pane sent" 
					exclude="me-header footer me-content-header me-tabs"
					viewName="sent" }}

					{{#if sentInvitations.isLoaded }}
				
						{{#if sentInvitations.length }}

							<div class="space by-one"></div>

							{{#each sentInvitations}}
							
								{{view Yvi.UserInteractionSentBlockView contentBinding="this" }}
							
								<div class="space by-one"></div>
							
							{{/each}}

						{{else }}

								{{view Yn.EmptyView class="is-small"
									contentI18n="empty_sent"
									messageAction="invite"
									textAction="invite" }}

						{{/if}}


					{{else }}
						{{view Yn.SpinnerView class="is-vertical-center"}}
					{{/if }}

				{{/view}}

		{{/view}}


	</div>

</div>

{{/with}}


