{{#with view}}

{{#view Yn.HeaderView id="me-header" class="with-big-shadow"}}

	<div class="header-title">{{I18n me_title}}</div>
	
	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon" 
		action="goToSettings"
		icon="t" }}

{{/view }}

<div class="screen-container">

		<div id="me-content-header">

				<div id="me-content-header-image">

					{{view Yn.SquareImageView class="is-big" contentBinding="user" withPhoto=true }}

				</div>

				<div id="me-content-header-text">

            <div class="header-text">
              {{user.name}}
            </div>

            <div class="state-text">
              {{user.status}}
            </div>

            {{#if user.city}}

              <div class="text is-small is-white">

                <span class="icon with-text is-icon-small" icon="i"></span>
                {{user.city.name}}

              </div>

            {{/if}}

				</div>

		</div>

		<div id="me-tabs" class="submenu-tabs is-two-items">

      {{#view Yvi.MeTabOptionView class="submenu-tab"
        tab="friend" currentTabViewBinding="currentTabView" }}
        <div class="submenu-tab-title">
          {{I18n friends}}
        </div>
			{{/view}}

      {{#view Yvi.MeTabOptionView class="submenu-tab"
        tab="activity" currentTabViewBinding="currentTabView" }}
        <div class="submenu-tab-title">
          {{I18n activity}}
        </div>
			{{/view}}

		</div>

		{{#view Yn.TabMainView currentTabViewBinding="currentTabView" }}

			{{#view Yn.ScrollerView class="me-tab-pane friend" 
				exclude="me-header footer me-content-header me-tabs"
				viewName="friend" }}


					{{#if friends.isLoaded }}

							{{#if friends.length }}

								<div class="space by-one"></div>

								<div class="box">
									<div class="box-content has-li">
										{{#each friends}}
											<div class="box-content-li">
												{{view Yvi.UserShortBlockView class="is-normal" 
                          hasInviteButton=true
                          contentBinding="user" 
                          imagetype="is-normal"  }}
											</div>
										{{/each}}
									</div>
								</div>

								<div class="space by-one"></div>


							{{else }}

								{{view Yn.EmptyView class="is-small"
									contentI18n="empty_friends"
									messageAction="invite"
									textAction="invite" }}

							{{/if}}

					{{else}} 
						{{view Yn.SpinnerView class="is-vertical-center"}}
					{{/if }}

				{{/view}}


				{{#view Yn.ScrollerView class="me-tab-pane activity" 
          exclude="me-header footer me-content-header me-tabs"
          userBinding="user"
					viewName="activity" }}


					{{#if activities.isLoaded }}

						{{#if activities.length }}
				
              <div class="space by-one"></div>

							{{#each activities}}

                  {{#if invitation.isLoaded }}

                    {{#if invitation.fromUser.isLoaded }}
                      {{#if_eq "invitation.fromUser view.user"}}
                          {{view Yvi.SendInvitationActivityView contentBinding="invitation" }}
                      {{ else }}
                          {{view Yvi.GetInvitationActivityView contentBinding="invitation" }}
                      {{/if_eq}}
                    {{/if}}

                    <div class="space by-one"></div>

                  {{/if}}

							{{/each}}

						{{else }}

								{{view Yn.EmptyView class="is-small"
                  contentI18n="empty_activity"}}

						{{/if}}


					{{else }}
						{{view Yn.SpinnerView class="is-vertical-center"}}
					{{/if }}

				{{/view}}

		{{/view}}


</div>

{{/with}}
