{{#with view}}

{{#view Yn.HeaderView id="me-header" class="with-big-shadow"}}

	{{view Yn.HeaderTitleView itemI18n="me_title" }}
	
  {{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon" 
    action="goToAccount"
    icon="t" }}

{{/view }}

<div id="me-screen-container" class="screen-container">

	<div id="me-screen-content">

		<div id="me-content-header">

				<div id="me-content-header-image">

					{{view Yn.SquareImageView class="is-big" contentBinding="user" withPhoto=true }}

				</div>

				<div id="me-content-header-text">


						<div id="me-content-header-text-name">
						
							<div id="me-content-header-text-user-name" class="header-text">
								{{user.name}}
							</div>
							
							<div id="me-content-header-text-user-state" class="state-text">
								{{user.status}}
							</div>

							{{#if user.city}}

								<div id="me-content-header-text-city" class="text is-small is-white">

									<span class="icon with-text is-icon-small" icon="i"></span>

									{{user.city.name}}

								</div>

							{{/if}}

						</div>

				</div>

		</div>

		<div id="me-tabs">

			{{#view Yvi.MeTabOptionView tab="friends" currentTabViewBinding="currentTabView" }}

        <div class="number">{{user.friendsCount}}</div>
				<div class="desc">{{I18n user_friends}}</div>

			{{/view}}

			{{#view Yvi.MeTabOptionView tab="unexchanged" currentTabViewBinding="currentTabView" }}

        <div class="number">{{user.unexchangedInvitationsCount}}</div>
				<div class="desc">{{I18n user_unexchanged}}</div>

			{{/view}}

			{{#view Yvi.MeTabOptionView class="last" tab="sent" currentTabViewBinding="currentTabView" }}

        <div class="number">{{user.sentInvitationsCount}}</div>
				<div class="desc">{{I18n user_sent}}</div>

			{{/view}}

		</div>



		{{#view Yvi.TabMainView currentTabViewBinding="currentTabView" }}

      {{#view Yn.ScrollerView class="me-tab-pane" 
        exclude="me-header footer me-screen-content me-tabs"
        viewName="friends" }}

            <div class="space by-one"></div>

              <div class="box">
                <div class="box-content">

                  {{#each friends}}
                  
                    {{view Yvi.UserShortBlockView contentBinding="this" imagetype="is-normal" class="is-normal" }}

                  {{/each}}
                  
                </div>
              </div>

            <div class="space by-one"></div>

				{{/view}}


        {{#view Yn.ScrollerView class="me-tab-pane unexchanged" 
          exclude="me-header footer me-screen-content me-tabs"
          viewName="unexchanged" }}
				
					<div class="space by-one"></div>

					{{#each unexchangedInvitations}}

						<div class="block-unexchanged box">

							<div class="block-unexchanged-title box-title box-title-top">

								<div class="image">

									{{view Yn.SquareImageView class="is-x-small" contentBinding="fromUser" withPhoto=true }}

								</div>

								<div class="name">

									{{fromUser.name}} {{I18n invites_you}}

								</div>

							</div>

							<div class="block-unexchanged-content box-content">

								<div class="image">

									{{view Yn.SquareImageView class="is-normal" contentBinding="product" withPhoto=true }}

								</div>

								<div class="product">

									{{product.name}}

									{{#if product.city}}

										<div class="venue">

											<span class="icon with-text is-icon-small city" icon="i"></span>

											{{product.city}}

										</div>

									{{/if}}

								</div>

								<div class="exchange-button">

									{{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white" contentI18n="exchange" 
									action="" }}

								</div>

							</div>

						</div>
						
						<div class="space by-one"></div>

					{{/each}}

				{{/view}}


        {{#view Yn.ScrollerView class="me-tab-pane" 
          exclude="me-header footer me-screen-content me-tabs"
          viewName="sent" }}
				
					<div class="space by-one"></div>

					{{#each sentInvitations}}
					
						{{view Yvi.UserInteractionSentBlockView contentBinding="this" }}
					
						<div class="space by-one"></div>
					
					{{/each}}

				{{/view}}

		{{/view}}


	</div>

</div>

{{/with}}


