{{#with view}} <!-- Get view context -->


{{#view Yn.HeaderView }}

	{{view Yn.HeaderTitleView itemI18n="me_title" }} <!-- EL helper de I18n está hackeado ;) y permite esto -->

{{/view }}

<div id="me-screen-container" class="screen-container">

	<div id="me-screen-content">

		<div id="me-content-header">

				<div id="me-content-header-image" class="inline">

					{{view Yn.SquareImageView contentBinding="user" isUp=true class="is-normal" }}

				</div>

				<div id="me-content-header-text" class="inline">

						<div id="me-content-header-text-name">

							{{user.showName}}

						</div>

						<div id="me-content-header-text-city">

							<div class="icon is-icon-small inline" icon="i">

								{{user.city.name}}

							</div>

						</div>

				</div>

		</div>

		<div id="me-tabs">

			{{#view App.MeTabOptionView tab="friends" }}

				<div class="number">92</div>

				<div class="desc">amigos</div>

			{{/view}}

			{{#view App.MeTabOptionView tab="sent" }}

				<div class="number">20</div>

				<div class="desc">enviadas</div>

			{{/view}}

			{{#view App.MeTabOptionView tab="received" }}

				<div class="number">126</div>

				<div class="desc">recibidas</div>

			{{/view}}

		</div>



		{{#view App.TabMainView currentTabViewBinding="App.tabController.meTabView" }}

				{{#view class="me-tab-pane" viewName="friends" }}

					<div class="box">
						<div class="box-content">
							{{#each friendslist}}
							
								{{view Yn.UserShortBlockView usernameBinding="name" citynameBinding="city" }}
							{{/each}}
						</div>
					</div>

				{{/view}}

				{{#view class="me-tab-pane" viewName="sent" }}

					{{#each sentinvitations}}
					<div class="box">
						<div class="box-content box-content-with-title-bottom">
							{{view Yn.UserInteractionSentBlockView contentBinding="this" }}
						</div>
						<div class="box-title box-title-bottom">
							<div class="inline">
								<div class="icon is-icon-small inline" icon="i">{{city.name}}</div>
							</div>
							<div class=""inline" style="float:right;">
								<div class="icon is-icon-small inline" icon="w">22m</div>
							</div>
						</div>
					</div>
					{{/each}}

				{{/view}}

				{{#view class="me-tab-pane" viewName="received" }}

					{{#each receivedinvitations}}
					<div class="box">
						<div class="box-content box-content-with-title-bottom">
							{{view Yn.UserInteractionSentBlockView contentBinding="this" }}
						</div>
						<div class="box-title box-title-bottom">
							<div class="inline">
								<div class="icon is-icon-small inline" icon="i">{{city.name}}</div>
							</div>
							<div class=""inline" style="float:right;">
								<div class="icon is-icon-small inline" icon="w">22m</div>
							</div>
						</div>
					</div>
					{{/each}}

				{{/view}}

		{{/view}}


	</div>

</div>

{{/with}}


<!--
		{{#view Yn.ScrollWrapperView id="me-scroll-wrapper" contentBinding="unexchangedinvitations.content" }}

			<div id="me-scroller">

				<div id="me-content-bio" class="box">

					<div class="box-title box-top">

						{{I18n bio }}

					</div>

					<div class="box-content">
						
						El término 'Frapuccino' se ha convertido en los últimos años en un indispensable.

					</div>

				</div>

				<div id="me-content-unexchangedinvitations" class="box">

					<div class="box-title box-top">

						{{I18n unexchanged_invitations }}

					</div>

					<div class="box-content">
						
						{{#each unexchangedinvitations}}

							<div class="unexchangedinvitation">

								<div class="unexchangedinvitation-image inline">

									<img class="rounded-small-image" src="http://flickholdr.com/48/48/coffe,cup" />

								</div>

								<div class="unexchangedinvitation-product inline">

									{{product.name}}

									<div class="unexchangedinvitation-city">

										<div class="icon inline" icon="b">

										</div>

										<div class="city-name inline">

											{{city.name}}

										</div>

									</div>

								</div>

								<div class="unexchangedinvitation-price inline">

									{{product.price}} {{I18n currency_symbol}}

								</div>

							</div>

						{{/each}}

					</div>

				<div class="scroll-bottom">

				</div>

			</div>
			
			
		{{/view}}
			-->
