{{#with view}}

  <div class="menu-container">

   {{view Yvi.MenuOptionView icon="c" textI18n="menu_home" 
      action="goToHome"}}
   {{view Yvi.MenuOptionView icon="J" textI18n="menu_home" 
      action="goToHome"}}
    {{view Yvi.MenuOptionView icon="b" textI18n="menu_invitations"
      action="goToInvitations"}}
    {{view Yvi.MenuOptionView icon="p" textI18n="menu_profile"
      action="goToProfile"}}
    {{view Yvi.MenuOptionView icon="l" textI18n="menu_about"
      action="goToAbout"}}
  </div>

{{/with}}
    