{{#with view}}

{{#view Yn.HeaderView }}

	<div class="header-title">{{I18n notification_title}}</div>

  {{#view Yn.AdaptativeButtonView class="header-button l-right is-black button-text is-small is-font-white" 
    action="close"}}
    {{I18n done}}
  {{/view}}

{{/view }}

<div class="screen-container">


  {{#if canSms }}
    <div class="space by-two"></div>

    <div class="box">

      {{#view Yn.BtapView class="box-content has-tap" 
        action="notifyPhone"}}

        <div class="box-content-element three-column-table"> 

          <div class="picture left-column">
            {{view Yn.SquareImageView class="is-normal"
              content="imessage-logo.jpeg"
              withChannel=true }}
          </div>

          <div class="name middle-column main-text">
            {{I18n notify_agenda}}
          </div>

          <div class="control right-column">
            <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
          </div>

        </div>

      {{/view}}

    </div>
  {{/if }}


  <div class="space by-one"></div>

  <div class="box">

    {{#view Yn.BtapView class="box-content has-tap" 
      action="notifyEmail"}}

      <div class="box-content-element three-column-table"> 

        <div class="picture left-column">
          {{view Yn.SquareImageView class="is-normal"
            content="imail-logo.jpg"
            withChannel=true }}
        </div>

        <div class="name middle-column main-text">
          {{I18n notify_email}}
        </div>

        <div class="control right-column">
          <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
        </div>

      </div>

    {{/view}}

  </div>



  {{#if canFb }}
    <div class="space by-one"></div>

    <div class="box">

      {{#view Yn.BtapView class="box-content has-tap" 
        action="notifyFacebook"}}

        <div class="box-content-element three-column-table"> 

          <div class="picture left-column">
            {{view Yn.SquareImageView class="is-normal"
              content="facebook_logo.png"
              withChannel=true }}
          </div>

          <div class="name middle-column main-text">
            {{I18n notify_fb}}
          </div>

          <div class="control right-column">
            <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
          </div>

        </div>

      {{/view}}
  {{/if }}



</div>

{{/with }}
