{{#with view}}

{{#view Yn.HeaderView }}

	{{view Yn.MenuButtonView }}
	<div class="header-title">{{I18n notification_pl}}</div>

{{/view }}

{{#view Yn.ScrollerView class="screen-container" 
  loggedUserBinding="loggedUser"
  exclude=".header" }}

  {{#if notifications.isLoaded }}

    {{#if notifications.length }}
      
      <div class="space by-one"></div>

      {{#each notifications}}

        <div {{bindAttr class=":box isNotified:is-notified:is-pending"}} >

          {{#view Yn.BtapView class="box-content has-tap"
            action="goToInvitation"
            actionContentBinding=this}} 

            <div class="box-content-element three-column-table">

              <div class="picture left-column">

                {{#if this.invitation.fromUser.isLoaded }}

                  {{#if_eq "view._parentView._parentView._parentView._parentView._parentView.loggedUser this.invitation.fromUser" }}

                    {{view Yn.SquareImageView class="is-normal" 
                      contentBinding="invitation.toUser" 
                      withPhoto=true }}

                  {{else}}

                    {{view Yn.SquareImageView class="is-normal" 
                      contentBinding="invitation.fromUser" 
                      withPhoto=true }}

                  {{/if_eq}}

                {{/if}}

              </div>

              <div class="name middle-column">
                {{this.message}}
                <div class="detail-text">
                  <span class="icon with-text is-icon-small" icon="w"></span>
                  {{humanize dateBinding="created" }}
                </div>
              </div>

              <div class="control right-column">
                <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
              </div>

            </div>

          {{/view}}

        </div>

        <div class="space by-one"></div>
      {{/each}}

    {{/if}}

  {{else}}
    {{view Yn.SpinnerView}}
  {{/if}}

{{/view }}

{{/with }}
