
{{#with view }}

	{{#view Yn.HeaderView }}

		<div class="header-title">{{I18n qr_title }}</div>
		{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon is-icon-small" icon="l" }}

	{{/view }}

	<div id="qr-screen-container" class="screen-container">
		
		<div class="space by-one"></div>

		<div id="qr-screen-content" class="box">

			<div id="qr-image" class="box-content">

				{{view Yvi.QrCodeView id="qr-code-container"
					unexchangedInvitationsBinding="unexchangedInvitations"
					isRegisteredBinding="isRegistered"
					userBinding="user"}}

				<div class="space by-one"></div>

				<div class="center text is-black is-small">
					{{I18n qr_description}}
				</div>
			
			</div>
			
			<div id="qr-details" class="box-title box-title-bottom">

				<div id="qr-details-image" class="inline">

					{{view Yn.SquareImageView class="is-small" contentBinding="user" }}

				</div>
				
				<div id="qr-details-name" class="text is-font-bold inline">
				
					{{user.name}}
					
				</div>	
			
			</div>
		
		</div>

	</div>

{{/with}}
