
{{#with view }}

	{{#view Yn.HeaderView class= "with-small-shadow" }}

		<div class="header-title">{{I18n qr_title }}</div>
		{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon" icon="l" }}

	{{/view }}

	<div id="qr-screen-container" class="screen-container">
		
		<div class="space by-one"></div>

		<div id="qr-screen-content" class="box">

			<div id="qr-image" class="box-content">

				{{view Yvi.QrCodeView id="qr-code-container"
					unexchangedInvitationsBinding="unexchangedInvitations"
					isRegisteredBinding="isRegistered"
					userBinding="user"}}

				<div class="space by-one"></div>

				<div class="center">
					{{I18n qr_description}}
					{{selectedUnexchangedInvitation.product.name}}
				</div>
			
			</div>
			
			<div id="qr-details" class="box-title box-title-bottom">

				{{#if selectedUnexchangedInvitation }}

					<div id="qr-details-image">

						{{view Yn.SquareImageView class="is-small" contentBinding="selectedUnexchangedInvitation.product" withPhoto=true }}

					</div>
					
					<div id="qr-details-name">
					
						{{selectedUnexchangedInvitation.product.name}}
						
					</div>

				{{else}}

					<div id="qr-details-image">

						{{view Yn.SquareImageView class="is-small" contentBinding="user" withPhoto=true }}

					</div>
					
					<div id="qr-details-name">
					
						{{user.name}}
						
					</div>

				{{/if}}
			
			</div>
		
		</div>

	</div>

{{/with}}
