
<div class="">{{I18n email}}</div>
<div class="">{{I18n password}}</div>

<div class="">{{I18n phone_register_placeholder}}</div>
<div class="">{{I18n user_register_placeholder}}</div>


{{#view Yn.BtapView action="goToLogged"}}
  {{I18n enter}}
{{/view }}

<div class="">{{I18n facebook}}</div>
<div class="">{{I18n twitter}}</div>

<div class="">{{I18n register_with_social_networks}}</div>

{{#view Yn.BtapView action="showLogin"}}
  {{I18n login}}
{{/view }}
