{{#with view }}

  {{#if isBlocked }}
    {{view Yn.SpinnerView}}
  {{/if}}

  <div class="row one">

      <div class="space by-four"></div> 
      <div class="brand-landing-container brand-container is-small"></div>
  

  </div>

  <div class="row two">

    <div class="space"></div> 
    


        <div class="big-input-content">

        {{view Yn.InputView id="register-email" class="big-input up" 
          inputName="email"
          type="email"
          placeholderI18n="email" }} 

        {{view Yn.InputView id="register-password" class="big-input" 
          inputName="password"
          type="password"
          placeholderI18n="password" }} 

        {{view Yn.InputView id="register-name" class="big-input down" 
          inputName="name"
          type="text"
          placeholderI18n="user_register_placeholder" }}

        </div>


    
  </div>

  <div class="row three">


        {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black is-middle" 
          inputs="register-email register-password register-name"
          contentI18n="register" 
          action="registerUser" }}


          <div class="space by-two"></div>



      {{view Yn.AdaptativeButtonView class="login-button is-orange button-text is-small is-font-white is-middle" 
        contentI18n="login" 
        action="showLogin" }}

  </div>

{{/with}}
