<div class="space by-eight"></div>

<div class="big-input-content">

  {{view Yn.InputView id="register-email" class="big-input up" 
    inputName="email"
    type="email"
    placeholderI18n="email" }} 

  {{view Yn.InputView id="register-password" class="big-input" 
    inputName="password"
    type="password"
    placeholderI18n="password" }} 

  {{view Yn.InputView id="register-phone" class="big-input" 
    inputName="phone"
    type="tel"
    placeholderI18n="phone_register_placeholder" }} 

  {{view Yn.InputView id="register-name" class="big-input down" 
    inputName="name"
    type="text"
    placeholderI18n="user_register_placeholder" }} 

</div>

<div id="register-buttons" class="center">

  {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black" 
    inputs="register-email register-password register-phone register-name"
    mixins="Yn.FormActionContent"
    contentI18n="enter" 
    action="registerUser" }}
	
	<div class="register-with-social-networks text is-font-orange">
	
		{{I18n register_with_social_networks}}
		
		<div class="social-networks">
		
      {{view Yn.SocialSmallButtonView class="facebook inline" 
        contentI18n="facebook"
        action="registerWithFb" }}

      {{view Yn.SocialSmallButtonView class="twitter inline" 
        isDisabled=true
        contentI18n="twitter"
        action="registerWithTwitter" }}
		
		</div>
	
	</div>
	
  {{view Yn.AdaptativeButtonView class="login-button is-orange button-text is-small is-font-white" 
    contentI18n="login" 
    action="showLogin" }}
	
</div>
