{{#with view }}

  {{#if isBlocked }}
    {{view Yn.SpinnerView}}
  {{/if}}

  <div class="row one">


    {{#if isPendingPhoneValidation }}

      <div class="space by-five"></div> 
      <div class="landing-title">{{I18n register_validation_title}}</div>
      <div class="landing-text">{{I18n register_validation_text}}</div>

    {{ else }}

      <div class="space by-four"></div> 
      <div class="brand-landing-container"></div>
  
    {{/if}}

  </div>

  <div class="row two">

    <div class="space"></div> 
    

      {{#if isPendingPhoneValidation }}

        <div class="big-input-content">

        {{view Yn.InputView id="register-code" class="big-input up down" 
          inputName="code"
          type="number"
          placeholderI18n="code_phone_placeholder" }}

        </div>

      {{ else }}

        <div class="big-input-content">

        {{view Yn.InputView id="register-email" class="big-input up" 
          inputName="email"
          type="email"
          placeholderI18n="email" }} 

        {{view Yn.InputView id="register-password" class="big-input" 
          inputName="password"
          type="password"
          placeholderI18n="password" }} 

        {{view Yn.PhoneInputView id="register-phone" class="big-input" 
          placeholderI18n="phone_register_placeholder" }} 

        {{view Yn.InputView id="register-name" class="big-input down" 
          inputName="name"
          type="text"
          placeholderI18n="user_register_placeholder" }}

        </div>

      {{/if}}

    
  </div>

  <div class="row three">


      {{#if isPendingPhoneValidation }}


        <div class="space by-two"></div> 

        {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black" 
          mixins="Yn.FormActionContent"
          inputs="register-code"
          contentI18n="enter" 
          action="insertPhoneValidationCode" }}

        <div class="space by-three"></div>


        {{view Yn.AdaptativeButtonView class="login-button is-grey button-text is-small is-font-black" 
          contentI18n="skip" 
          action="skipPhoneValidation" }}

        <div class="space by-three"></div>

      {{else}}

        {{view Yn.SingleBigButtonView class="enter-button is-grey button-text is-big is-font-black" 
          mixins="Yn.FormActionContent"
          inputs="register-email register-password register-phone register-name"
          contentI18n="register" 
          action="registerUser" }}


          <div class="space by-two"></div>


      {{/if}}


      {{view Yn.AdaptativeButtonView class="login-button is-orange button-text is-small is-font-white" 
        contentI18n="login" 
        action="showLogin" }}

  </div>

{{/with}}
