{{#with view }}

	{{#view Yn.HeaderView }}
    {{view Yn.BackButtonView }}
		<div class="header-title">{{I18n qr_title}}</div>
	{{/view }}

  {{#view Yn.ScrollerView class="screen-container" 
    exclude=".header" }}

		<div class="space by-one"></div>

		<div class="invitation-localizer box">

			<div class="box-content">

        {{#if invitation }}

          <div class="qr-container">
            {{view Yvi.ScanQrCodeView class="qr-code"
              invitationBinding="invitation" }}
          </div> 

        {{else }}

          <div class="bar-container">
            {{view Yvi.ScanBarCodeView class="bar-code"
              invitationBinding="invitation" }}
          </div> 

        {{/if}}
			
			</div>
			
      <div class="box-title-bottom is-center">

        <div class="main-text">
          {{invitation.localizer}}
        </div>
        <div class="detail-text">
          {{I18n qr_description}}
        </div>
			</div>
		
		</div>

    <div class="space by-one"></div>

    <div class="invitation-info box">
      <div class="box-content">
        {{view Yn.UserShortBlockView class="is-normal"
          contentBinding="invitation.fromUser" 
          imagetype="is-normal"}}
      </div>
    </div>


	{{/view }}

{{/with}}
