{{#with view }}

	{{#view Yn.HeaderView id="scan-invitation-header" class="with-small-shadow" }}
    {{view Yn.BackButtonView }}
		<div class="header-title">{{I18n qr_title}}</div>
	{{/view }}

  {{#view Yn.ScrollerView class="screen-container" 
    exclude="scan-invitation-header footer" }}

		<div class="space by-one"></div>

    <div class="action-buttons">

      {{view Yn.AdaptativeButtonView class="fl qr-action-button is-blue button-text is-small is-font-white" 
        contentI18n="button_resend" 
        action="resend" 
        actionContentBinding="invitation" }}

      {{view Yn.AdaptativeButtonView class="fr qr-action-button is-blue button-text is-small is-font-white" 
        contentI18n="button_mark_as_consumed" 
        action="markAsConsumed"
        actionContentBinding="invitation" }}

    </div>
		
		<div class="space by-one"></div>

		<div class="invitation-localizer box">

			<div class="box-content">

        {{#if invitation }}

          <div class="qr-container">
            {{view Yvi.ScanQrCodeView class="qr-code"
              invitationBinding="invitation" }}
          </div> 

        {{else }}

          <div class="bar-container">
            {{view Yvi.ScanBarCodeView class="bar-code"
              invitationBinding="invitation" }}
          </div> 

        {{/if}}
			
			</div>
			
      <div class="box-title-bottom is-center">

        <div class="main-text">
          {{invitation.localizer}}
        </div>
        <div class="detail-text">
          {{I18n qr_description}}
        </div>
			</div>
		
		</div>

    <div class="space by-one"></div>

    <div class="invitation-info box">
      <div class="box-content">
        {{view Yvi.UserShortBlockView class="is-normal"
          contentBinding="invitation.fromUser" 
          imagetype="is-normal"}}
      </div>
    </div>

    {{view Yn.MainButtonView class="is-green" 
      contentI18n="button_terms_and_conditions" 
      action="showTerms" }}

	{{/view }}

{{/with}}
