{{#view Yn.HeaderView }}

  {{view Yn.BackButtonView  }}
  <div class="header-title">{{I18n setting}}</div>

{{/view }}

<div class="screen-container">

  <div id="setting-basic-info">
    <div> {{I18n basic_setting}}</div>
  </div>

  <div id="setting-status">
    <div> {{I18n status}}</div>
    <div>{{user.status}}</div>
  </div>

  <div id="setting-channels">
    <div> {{I18n channel pluralize=true}}</div>

    <div id="settings-channels-list"> 

      <div> 
        <div>{{I18n contact_channel}}</div> {{hasPhone}}
        <div></div>
      </div>

      <div> 
        <div>Facebook</div>
        {{view Yn.SwitchButtonView isOn=hasFacebook }}
        <div></div>
      </div>

      <div class="is-disabled"> 
        <div>Twitter</div>
        {{view Yn.SwitchButtonView isOn=hasTwitter isDisabled=true}}
        <div></div>

      </div>
      
    </div>

  </div>

  <div id="setting-basic-info">
    {{I18n close_session}}
  </div>

</div>
