{{#view Yn.HeaderView }}

	{{view Yn.BackButtonView  }}
	<div class="header-title">{{I18n settings}}</div>

{{/view }}

<div class="screen-container">

	<div class="space by-one"></div>

	<div id="block-basic-info" class="box">
		<div id="block-basic-info-title" class="box-title box-title-top">
			{{I18n basic_settings}}
		</div>
		<div id="block-basic-info-content" class="box-content">
			<div id="block-basic-info-data" class="three-column-table">
				<div id="block-basic-info-image" class="left-column"> 
					{{view Yn.SquareImageView class="is-normal" contentBinding="user" withPhoto=true }}
				</div>
				<div id="block-basic-info-user" class="middle-column">
					{{user.name}}
					{{#if user.city}}
						<div id="block-basic-info-cityname">
							<span class="icon is-icon-small" icon="i"></span>
							{{user.city.name}}
						</div>
					{{/if}}
				</div>
				<div id="block-basic-info-button" class="right-column">
					{{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" contentI18n="edit" action="" }}
				</div>
			</div>
		</div>
	</div>

	<div id="settings-status">
		<div> {{I18n status}}</div>
		<div>{{user.status}}</div>
	</div>

	<div id="settings-channels">
		<div> {{I18n channel pluralize=true}}</div>

		<div id="settings-channels-list"> 

			<div> 
				<div>{{I18n agenda}}</div> {{hasPhone}}
				<div></div>
			</div>

			<div> 
				<div>Facebook</div>
				{{view Yn.SwitchButtonView isOn=hasFacebook }}
				<div></div>
			</div>

			<div class="is-disabled"> 
				<div>Twitter</div>
				{{view Yn.SwitchButtonView isOn=hasTwitter isDisabled=true}}
				<div></div>

			</div>
			
		</div>

	</div>

	<div id="settings-logout">
		{{I18n close_session}}
	</div>

</div>
