{{#with view}}

{{#view Yn.HeaderView id="settings-header" class="with-small-shadow"}}

	{{view Yn.BackButtonView }}

	<div class="header-title">{{I18n settings}}</div>

{{/view }}

{{#view Yn.ScrollerView class="screen-container"
  exclude="settings-header footer"}}

	<div class="space by-one"></div>

	<div id="block-basic-info" class="box">

		<div id="block-basic-info-title" class="box-title box-title-top">

			{{I18n basic_settings}}

		</div>

		<div id="block-basic-info-content" class="box-content">

			<div id="block-basic-info-data" class="three-column-table">

				<div id="block-basic-info-image" class="left-column"> 

					{{view Yn.SquareImageView class="is-normal" contentBinding="user" withPhoto=true }}

				</div>

				<div id="block-basic-info-user" class="middle-column">

					<div id="block-basic-info-username">

						{{user.name}}

					</div>

					{{#if user.city}}

						<div id="block-basic-info-cityname">

							<span class="icon with-text is-icon-small" icon="i"></span>

							{{user.city.name}}

						</div>

					{{/if}}

				</div>

				<div id="block-basic-info-button" class="right-column">

          {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
            contentI18n="edit" 
            action="goToEditSettings" }}

				</div>

			</div>

		</div>

	</div>

	<div class="space by-one"></div>

  {{#view Yn.BtapView id="block-status" class="box" 
    action="goToUserStatus" }}

		<div id="block-status-content" class="box-content">

			<div id="block-status-content-table" class="two-column-table">

				<div id="status-block" class="left-column">

					<div id="label">{{I18n status}}</div>

					<div id="status">"{{user.status}}"</div>

				</div>

				<div id="icon-block" class="right-column">

					<span class="icon is-icon-normal is-icon-grey with-text" icon="d"></span>

				</div>

			</div>

		</div>

  {{/view}}

	<div class="space by-one"></div>

	<div id="block-channels" class="box">

		<div id="block-channels-title" class="box-title box-title-top">

			{{I18n channel pluralize=true}}

		</div>

		<div id="block-channels-list" class="box-content"> 

      {{#view Yn.BtapView id="agenda-channel" class="block-channels-element three-column-table" 
        action="goToUserPhone"}}

				<div class="image left-column">

					{{view Yn.SquareImageView class="is-small"
						content="phonebook_button"
						withChannel=true }}
					
				</div>

				<div class="channel middle-column">

					{{I18n agenda}}

				</div>

				<div class="control right-column">

					<span class="icon is-icon-normal is-icon-grey" icon="d"></span>

				</div>

      {{/view}}

			<div id="facebook-channel" class="block-channels-element three-column-table">

				<div class="image left-column">

					{{view Yn.SquareImageView class="is-small"
						content="facebook_logo"
						withChannel=true }}
					
				</div>

				<div class="channel middle-column">

					Facebook

				</div>

				<div class="control right-column">

          {{view Yn.SwitchButtonView isOnBinding="hasFacebook" 
            switchAction="changeFacebook" }}

				</div>

			</div>

			<div id="twitter-channel" class="block-channels-element three-column-table is-disabled">

				<div class="image left-column">

					{{view Yn.SquareImageView class="is-small"
						content="twitter_logo"
						isDisabled=true
						withChannel=true }}
					
				</div>

				<div class="channel middle-column">

					Twitter

				</div>

				<div class="control right-column">

					{{view Yn.SwitchButtonView isOnBinding="hasTwitter" isDisabled=true}}

				</div>

			</div>

		</div>

	</div>

	<div class="space by-one"></div>

	{{view Yn.MainButtonView id="block-logout"
		class="is-red"
		contentI18n="close_session"
		action="closeSession" }}


{{/view }}
{{/with}}















