{{#with view}}

{{#view Yn.HeaderView class="with-small-shadow"}}
	{{view Yn.BackButtonView }}
	<div class="header-title">{{I18n settings}}</div>

  {{#view Yn.AdaptativeButtonView class="header-button l-right is-orange button-text is-small is-font-white" 
    action="goToAbout"}}
    {{I18n about}}
  {{/view}}
{{/view }}

{{#view Yn.ScrollerView class="screen-container"
  exclude=".header"
  excludeGlobal="footer"}}

	<div class="space by-one"></div>

	<div class="box">

		<div class="box-title-top">
			{{I18n basic_settings}}
		</div>

		<div class="box-content">

			<div class="box-content-element three-column-table">

				<div class="picture left-column"> 
					{{view Yn.SquareImageView class="is-normal" contentBinding="user" withPhoto=true }}
				</div>

				<div class="name middle-column">
					<div class="main-text">
						{{user.name}}
					</div>

					{{#if user.city}}
						<div class="detail-text">
							<span class="icon with-text is-icon-small" icon="i"></span>
							{{user.city.name}}
						</div>
					{{/if}}

				</div>

				<div class="control right-column">
          {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-black" 
            contentI18n="edit" 
            action="goToEditSettings" }}
				</div>

			</div>

		</div>

	</div>

	<div class="space by-one"></div>

  {{#view Yn.BtapView class="box has-tap" 
    action="goToUserStatus" }}

		<div class="box-content">

      <div class="box-content-element two-column-table">

        <div class="main left-column">
					<div class="main-text">{{I18n status}}</div>
					<div class="detail-text">"{{user.status}}"</div>
				</div>
        <div class="control right-column">
          <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
        </div>

			</div>

		</div>

  {{/view}}

	<div class="space by-one"></div>

  <div class="box">

		<div class="box-content">

			<div class="box-content-element two-column-table">

				<div class="main-text main left-column">
					{{I18n privacy}}
				</div>

				<div class="control right-column">
          {{view Yn.SwitchButtonView isOnBinding="isCheckinOn" 
            switchAction="changePrivacy" }}
				</div>

			</div>

		</div>

  </div>

	{{view Yn.MainButtonView
		class="is-red"
		contentI18n="close_session"
		action="closeSession" }}

  {{view Yn.MainButtonView
  	class="is-black"
  	contentI18n="delete_account"
  	action="deleteAccount" }}


{{/view }}
{{/with}}

