{{#with view}}

{{#view Yn.HeaderView }}
  {{view Yn.BackButtonView }}
  <div class="header-title">
      {{I18n terms_and_conditions}}
  </div>
{{/view }}


  {{#if hasFooter }}

    {{#view Yn.ScrollerView class="screen-container" 
      exclude=".header"
      excludeGlobal="footer" }}
      
      {{template terms_container}}

    {{/view }}

  {{else}}

    {{#view Yn.ScrollerView class="screen-container" 
      exclude=".header" }}
      
      {{template terms_container}}

    {{/view }}

  {{/if}}

{{/with}}
