{{#with view}}

{{#view Yn.HeaderView class= "with-small-shadow" }}

  {{view Yn.BackButtonView }}
  <div class="header-title">{{I18n agenda}}</div>

{{/view }}

{{#if notificationIsVisible}}

  {{view Yn.NotificationView
    contentBinding="notificationContent"
    typeBinding="notificationType"
    isInDomBinding="notificationIsVisible" }}

{{/if}}

<div class="screen-container">

	{{#unless user.phoneChannels}}

		<div class="space by-one"></div>

		<div id="block-phone-description" class="box">

			<div class="box-content">

				{{I18n agenda_message}}

			</div>

		</div>

	{{/unless}}

	<div class="space by-one"></div>

	<div id="block-phone-number" class="box">

		<div class="box-title box-title-top">

			{{I18n phone_number}}

		</div>


  {{#unless user.firstPhoneChannel.isValidated}}

      {{#unless user.firstPhoneChannel}}

        <div class="box-content">
          <div class="block-phone-number-element two-column-table">
            <div class="text left-column">
              {{view Yn.PhoneInputView id="user-phone-input" class="input-phone"
                placeholderI18n="add_another_phone_number"}}
            </div>
            <div class="control right-column">
              {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white"
                contentI18n="add"
                action="addPhone"}}
            </div>
          </div>
        </div>

      {{else}}

        <div class="box-content has-fill-border">
          <div class="block-phone-number-element two-column-table">
            <div class="text left-column">
              {{user.firstPhoneChannel.phone}}
            </div>
            <div class="control right-column">
              {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-white"
                contentI18n="delete"
                action="deletePhone"
                actionContentBinding="user.firstPhoneChannel"}}
            </div>
          </div>
        </div>

        <div class="box-content">
          <div class="block-phone-number-element two-column-table">
            <div class="left-column">
              {{view Yn.InputView id="user-input-validation" class="single-input"
                type="number"
                placeholderI18n="confirmation_code_placeholder"}}
            </div>
            <div class="control right-column">
              {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white"
                contentI18n="ok"
                action="validatePhone"}}
            </div>
          </div>
        </div>

      {{/unless}}

    {{else}}

        <div class="box-content">
          <div class="block-phone-number-element two-column-table">
            <div class="text left-column">
              {{user.firstPhoneChannel.phone}}
            </div>
            <div class="control right-column">
              {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-white"
                contentI18n="delete"
                action="deletePhone"
                actionContentBinding="user.firstPhoneChannel"}}
            </div>
          </div>
        </div>

    {{/unless}} 

	</div>

</div>
{{/with}}
