{{#with view}}

{{#view Yn.HeaderView class= "with-small-shadow" }}

  {{view Yn.BackButtonView }}
  <div class="header-title">{{I18n agenda}}</div>

{{/view }}

<div class="screen-container">


	{{#unless user.phoneChannels.length }}
		<div class="space by-one"></div>

		<div class="box">

			<div class="box-content has-message">

				{{I18n agenda_message}}

			</div>

		</div>

	{{/unless}}

	<div class="space by-one"></div>

	<div class="box">

		<div class="box-title box-title-top">

			{{I18n phone_number}}

		</div>


  {{#unless user.firstPhoneChannel.isValidated}}

      {{#unless user.firstPhoneChannel}}

        <div class="box-content has-li">
          <div class="box-content-li two-column-table">

            <div class="main-text left-column">
              {{view Yn.PhoneInputView id="user-phone-input" class="input-phone main-text is-transparent"
                placeholderI18n="add_another_phone_number"}}
            </div>
            <div class="control right-column fr">
              {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white"
                contentI18n="add"
                action="addPhone"}}
            </div>

          </div>
        </div>

      {{else}}

        <div class="box-content has-fill-border has-li">
          <div class="box-content-li two-column-table">
            <div class="main-text left-column">
              {{user.firstPhoneChannel.phone}}
            </div>
            <div class="control right-column fr">
              {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-white"
                contentI18n="delete"
                action="deletePhone"
                actionContentBinding="user.firstPhoneChannel"}}
            </div>
          </div>
        </div>

        <div class="box-content has-li">
          <div class="box-content-li two-column-table">
            <div class="left-column">
              {{view Yn.InputView id="user-input-validation" class="single-input"
                type="number"
                placeholderI18n="confirmation_code_placeholder"}}
            </div>
            <div class="control right-column fr">
              {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white"
                contentI18n="ok"
                action="validatePhone"}}
            </div>
          </div>
        </div>

      {{/unless}}

    {{else}}

        <div class="box-content has-li">
          <div class="box-content-li two-column-table">
            <div class="main-text left-column">
              {{user.firstPhoneChannel.phone}}
            </div>
            <div class="control right-column fr">
              {{view Yn.AdaptativeButtonView class="is-grey button-text is-small is-font-white"
                contentI18n="delete"
                action="deletePhone"
                actionContentBinding="user.firstPhoneChannel"}}
            </div>
          </div>
        </div>

    {{/unless}} 

	</div>

</div>
{{/with}}
