{{#view Yn.HeaderView }}

  {{view Yn.BackButtonView }}
  <div class="header-title">{{I18n agenda}}</div>

{{/view }}


<div class="header-title">{{I18n agenda_message}}</div>
<div class="header-title">{{I18n phone_number}}</div>
<div class="header-title">{{I18n add_new_phone_number}}</div>


