{{#with view}}

{{#view Yn.HeaderView class="without-shadow"}}

	{{view Yn.BackButtonView }}

	<div class="header-title is-subtitle">{{I18n status}}</div>
	<div class="header-subtitle">"{{user.status}}"</div>

{{/view }}

<div class="header-action">

	<div class="ha-left">
	
    {{view Yn.InputView id="user-status-input" class="single-input"
      type="text" placeholderI18n="write_status_message" 
      valueBinding="userStatusInput" }}
		
	</div>
	
	<div class="ha-right">
	
    {{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white" 
      contentI18n="save" action="writeStatus" }}
		
	</div>
	
</div>

<div class="screen-container">

	<div class="space by-one"></div>

	<div class="box">

		<div class="box-title-top">
			{{I18n choose_one_by_default_message }}
		</div>

		<div class="box-content has-li">

			{{#each options}}

          <div class="box-content-li box-content-element two-column-table">
              
            <div class="main main-text left-column">
              {{I18n keyBinding=name}}
            </div>

            
            <div class="control right-column"> 

              {{view Yvi.StatusToggleCircleButtonView 
                action="selectStatus" 
                selectedBinding="view.user.status"
                contentBinding=name}}            

            </div>

          </div>

			{{/each}}

		</div>

	</div>

</div>

{{/with }}
