{{#view Yn.HeaderView }}

  {{view Yn.BackButtonView  }}
  <div class="header-title is-subtitle">{{I18n status}}</div>
  <div class="header-subtitle">"{{user.status}}"</div>

{{/view }}

<div class="header-action">

  {{view Yvi.UserStatusInputView}}

</div>

<div class="screen-container">

  <div id="status-box">

    <div id="status-box-title">
      {{I18n choose_one_by_default_message }}
    </div>

    <div id="status-box-list">

      {{#each options}}

          {{I18n key=name}}

          {{view Yn.ToggleCircleButtonView 
            action="selectStatus" 
            selectedBinding="view.user.status"
            contentI18n=name}}

      {{/each}}

    </div>

  </div>



  <div class="space by-one"></div>

      <div id="venue-products" class="box">

        <div id="vpr-title" class="box-title box-title-top">
          Testing
        </div>

        <div id="vpr-list" class="box-content">
          
          <div class="two-column-table">
            <div class="vpr-name text is-big is-font-black left-column">
              Test 1
            </div>

            <div class="right-column"> 
              {{view Yn.SwitchButtonView isOn=true isDisabled=true}}
            </div>
          </div>
          
          
        </div>

      </div>




</div>
