{{#with view}} <!-- Get view context -->

{{#view Yn.HeaderView }}

	{{view Yn.BackButtonView }}

	{{view Yn.HeaderTitleView itemI18n="user_title" }}

{{/view }}

<div id="user-screen-container" class="screen-container">

	<div id="user-screen-content">

		<div id="user-content-header">

				<div id="user-content-header-image">

					{{view Yn.SquareImageView class="is-big" contentBinding="user" }}

				</div>

				<div id="user-content-header-text">


						<div id="user-content-header-text-name">
						
							<div id="user-content-header-text-user-name" class="header-text">
								{{user.name}}
							</div>
							
							<div id="user-content-header-text-user-state" class="state-text">
								{{user.status}}
							</div>

							{{#if user.city}}

								<div id="user-content-header-text-city" class="text is-small is-white">

									<span class="icon is-icon-small" icon="i"></span>

									{{user.city.name}}

								</div>

							{{/if}}

						</div>

				</div>

		</div>

		<div id="user-tabs">

			{{#view Yvi.UserTabOptionView tab="friends" currentTabViewBinding="currentTabView" }}

				<div class="number">92</div>

				<div class="desc">{{I18n user_friends}}</div>

			{{/view}}

			{{#view Yvi.UserTabOptionView tab="sent" currentTabViewBinding="currentTabView" }}

				<div class="number">20</div>

				<div class="desc">{{I18n user_sent}}</div>

			{{/view}}

			{{#view Yvi.UserTabOptionView class="last" tab="received" currentTabViewBinding="currentTabView" }}

				<div class="number">126</div>

				<div class="desc">{{I18n user_received}}</div>

			{{/view}}

		</div>



		{{#view Yvi.TabMainView currentTabViewBinding="currentTabView" }}

				{{#view class="user-tab-pane" viewName="friends" }}
					
					{{view Yn.MainButtonView id="user-invite" class="is-blue" contentI18n="invite" }}
					
					<div class="space by-two"></div>

					<div class="box">
						<div class="box-content">
							
								{{view Yvi.UserShortBlockView contentBinding="view.user" }}
							
						</div>
					</div>
					
				{{/view}}

				{{#view class="user-tab-pane" viewName="sent" }}
				
					<div class="space by-one"></div>

					{{#each sentinvitations}}

						{{view Yvi.UserInteractionSentBlockView contentBinding="this" }}
					
						<div class="space by-one"></div>
					
					{{/each}}

				{{/view}}

				{{#view class="user-tab-pane" viewName="received" }}
				
					<div class="space by-one"></div>

					{{#each receivedinvitations}}
					
						{{view Yvi.UserInteractionReceivedBlockView contentBinding="this" }}
					
						<div class="space by-one"></div>
					
					{{/each}}

				{{/view}}

		{{/view}}


	</div>

</div>

{{/with}}


