{{#view Yn.HeaderView }}

	{{view Yn.BackButtonView }}

	<div class="header-title is-subtitle">{{I18n status}}</div>
	<div class="header-subtitle">"{{user.status}}"</div>

{{/view }}

<div class="header-action">

	<div class="left">
	
		{{view Yvi.UserStatusInputView}}
		
	</div>
	
	<div class="middle"></div>
	
	<div class="right">
	
		{{view Yn.AdaptativeButtonView class="is-blue button-text is-small is-font-white" contentI18n="save" action="" }}
		
	</div>
	
</div>

<div class="screen-container">

	<div class="space by-one"></div>

	<div id="block-status" class="box">

		<div id="block-status-title" class="box-title box-title-top">

			{{I18n choose_one_by_default_message }}

		</div>

		<div id="block-status-list" class="box-content">

			{{#each options}}

				<div class="block-status-element two-column-table">

					<div class="value left-column">

						{{I18n key=name}}

					</div>
					
					<div class="control right-column"> 

						{{view Yn.ToggleCircleButtonView 
							action="selectStatus" 
							selectedBinding="view.user.status"
							contentI18n=name}}            

					</div>

				</div>

			{{/each}}

		</div>

	</div>

</div>
