{{#with view}}

{{#view Yn.HeaderView id="venues-header"}}

  {{view Yn.AdaptativeButtonView class="header-button l-left is-orange button-text is-small is-font-white" 
    contentI18n="categories_title" action="goToCategories"}}

	<div id="brand-container"></div>

	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon" icon="i" 
		action="goToMap" }}

{{/view }}

{{#view Yn.RefreshScrollerView class="screen-container"
  holdPeriod=100
  exclude="footer venues-header"
  isRefreshedBinding="isRefreshed"
  hasNextBinding="hasNext"
  lengthBinding="content.length" }}

  {{#if isContentLoaded }}

    <div class="scroller-container fix-scrolling-touch">

        {{#if content.length }}

            <div class="space by-one"></div>

            <div class="box">
              {{#if friends.length }}
                ppcanodehuelva
              {{else}}

                {{#view Yn.BtapView class="box-content has-padding hasnot-item"
                  action="addFriend" }}
                  <div class="box-content-element two-column-table">
                      <div class="text left-column">
                        {{I18n select_someone_to_invite}}
                      </div>
                      <div class="control right-column">
                        <span class="icon is-icon-normal with-text" icon="d"></span>
                      </div>
                  </div>
                {{/view}}

              {{/if}}
            </div>

            <div class="space by-one"></div>
            {{#each item in content}}

              <div class="space by-one"></div>

              {{#if item.products.isLoaded }}

                {{view Yvi.VenueBoxView 
                  productsBinding="item.products"
                  venueBinding="item"
                  isGeopositionOnBinding="isGeopositionOn"
                  loggedUserBinding="loggedUser" }}
                <div class="space by-one"></div>

              {{/if}}

            {{/each}}

            {{#if view.showBottomView }}

              {{view Yn.MiniSpinnerView }}

            {{/if }}

        {{else}}

          {{view Yn.EmptyView contentI18n="empty_venues" }}

        {{/if}}

    </div>

  {{else }}

    {{view Yn.SpinnerView}}

  {{/if }}

{{/view}}

{{/with}}
