
{{#with view}}

{{#view Yn.HeaderView }}

  {{view Yn.LogoSwitchButtonView class="l-left" 
    isOnBinding="isCheckinOn"
    enabledEvent="checkin"
    disabledEvent="checkout" }}
  
  {{view Yn.IconBtapView class="activity-button" 
    action="goToActivity" }}

  {{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon is-icon-small" icon="c" 
    action="goToMap" }}


{{/view }}

<div class="screen-container">


	<div id="venues-option-tabs">

    {{view Yvi.IconTabOptionView class="venues-tab"
      icon="b" 
      tab="location" 
      currentTabViewBinding="currentTabView" }}

    {{view Yvi.IconTabOptionView class="venues-tab"
      icon="c" 
      tab="like" 
      currentTabViewBinding="currentTabView" }}

    {{view Yvi.IconTabOptionView class="venues-tab last"
      icon="d" 
      tab="category"
      currentTabViewBinding="currentTabView" }}

	</div>

	{{#view Yvi.TabMainView id="venues-tab-main"
    currentTabViewBinding="currentTabView" }}

    {{#view id="vtp-location" class="venues-tab-pane" 
      viewName="location" }}

      {{#if geopositionIsOn }}

        {{view Yvi.VenuesTabContentView
          showLikes=false
          isRefreshedBinding="locationIsRefreshed"
          contentBinding="locationContent" }}

      {{/if}}

		{{/view}}

    {{#view id="vtp-like" class="venues-tab-pane" 
      viewName="like" }}

      {{view Yvi.VenuesTabContentView
        showLikes=true
        isRefreshedBinding="likeIsRefreshed"
        contentBinding="likeContent" }}

		{{/view}}


    {{#view id="vtp-category" class="venues-tab-pane" 
      selectedBinding="selectedCategory"
      viewName="category" }}

    <div id="categories">

				{{#each categories}}

          {{view Yvi.VenuesCategoryButtonView 
            class="category-button"
            content=this 
            selectedBinding="view.selected"}}

				{{/each}}

			</div>

      {{view Yvi.VenuesTabContentView
        showLikes=false
        isRefreshedBinding="categoryIsRefreshed"
        contentBinding="categoryContent" }}

		{{/view}}

	{{/view}}

</div>

{{/with}}
