
{{#with view}}

{{#view Yn.HeaderView }}

	{{view Yvi.VenuesGeoSwitchButton class="l-left" }}
	{{view Yn.HeaderTitleView itemI18n="products_title" }}
	{{view Yn.HeaderButtonView class="l-right" action="goToMap" icon="c" }}

{{/view }}

<div class="screen-container">


	<div id="venues-option-tabs">

    {{view Yvi.IconTabOptionView class="venues-tab"
      icon="b" 
      tab="location" 
      currentTabViewBinding="currentTabView" }}

    {{view Yvi.IconTabOptionView class="venues-tab"
      icon="c" 
      tab="favorite" 
      currentTabViewBinding="currentTabView" }}

    {{view Yvi.IconTabOptionView class="venues-tab"
      icon="d" 
      tab="category"
      currentTabViewBinding="currentTabView" }}

	</div>

	{{#view Yvi.TabMainView id="venues-tab-main"
    currentTabViewBinding="currentTabView" }}

    {{#view id="vtp-location" class="venues-tab-pane" 
      viewName="location" }}

      {{#if geopositionIsOn }}

        {{view Yvi.VenuesTabContentView
          showLikes=false
          isRefreshedBinding="locationIsRefreshed"
          contentBinding="locationContent" }}

      {{/if}}

		{{/view}}

    {{#view id="vtp-favorite" class="venues-tab-pane" 
      viewName="favorite" }}

      {{view Yvi.VenuesTabContentView
        showLikes=true
        isRefreshedBinding="locationIsRefreshed"
        contentBinding="likeContent" }}

		{{/view}}


    {{#view id="vtp-category" class="venues-tab-pane" 
      selectedBinding="selectedCategory"
      viewName="category" }}

    <div id="categories">

				{{#each categories}}

          {{view Yvi.VenuesCategoryButtonView 
            class="category-button"
            content=this 
            selectedBinding="view.selected"}}

				{{/each}}

			</div>

      {{view Yvi.VenuesTabContentView
        showLikes=false
        isRefreshedBinding="categoryIsRefreshed"
        contentBinding="categoryContent" }}

		{{/view}}

	{{/view}}

</div>

{{/with}}
