{{#view Yn.HeaderView }}

	{{view Yn.BackButtonView }}

  <div class="header-title is-subtitle">
    {{selected.name}} 
  </div>

  <div class="header-subtitle">
    {{venue.brand.name}}, {{venue.city.name}} 
  </div>


  {{view Yn.SquareImageView class="l-right is-small"
    contentBinding="venue.brand"}}

{{/view }}


{{view Em.ContainerView id="venue-map"}}

<div class="screen-container">

  <div class="venue-products">

      {{view Yvi.VenueProductSwipeView 
        contentBinding="products"
        selectedBinding="selected"}}

      {{view Yn.CarouselCirclesView
        contentBinding="products"
        selectedBinding="selected"}}

      {{view Yn.MapButtonView}}

  </div>

  
  <div id="venue-middle-section">

      {{#view Yn.BtapView id="venue-likes" 
          classNameBindings="isVoted"
          action="fireLike"
          isVotedBinding="selected.hasVoted"}}

        <span class="icon" icon="m"></span> {{I18n i_like}} 

      {{/view}}

      {{view Yvi.InviteButtonView
        contentBinding="selected"}}

      <div id="venue-comments">

        <span class="icon" icon="u"></span> {{selected.commentCount}} 
        {{I18n comment pluralizeBinding="selected.commentCount" }}

      </div>

  </div>

  {{#if people }}

			<div class="space is-small"></div>

      <div id="venue-people" class="box">

        <div id="vp-title" class="box-title box-title-top">
          {{I18n venue_people_title}}
        </div>

        <div id="vp-list" class="box-content box-content-with-title-top">
          {{#each people}}
            {{name}}
          {{/each}}
        </div>

      </div>

  {{/if}}

	<div class="space is-small"></div>

  <div id="venue-product-description" class="box">

        <div id="vpd-title" class="box-title box-title-top">
          {{I18n description}}
        </div>

        <div id="vpd-info" class="box-content is-text">
          {{selected.description}}
        </div>

  </div>


  {{#if products.length }}

			<div class="space is-small"></div>

      <div id="venue-products" class="box">

        <div id="vpr-title" class="box-title box-title-top">
          {{I18n venue_products_title}}
        </div>

        <div id="vpr-list" class="box-content">
          {{#each products}}
					<div class="two-column-table">
            <div class="vpr-name text is-big is-font-black left-column">
              {{name}}
            </div>

            <div class="price-label right-column"> 
              {{price}} {{I18n currency_symbol}}
            </div>
					</div>
					<div class="space is-small"></div>
          {{/each}}
        </div>

      </div>

  {{/if}}

</div>
