{{#with view}}

{{#view Yn.HeaderView id="venues-header"}}

  {{view Yn.AdaptativeButtonView class="header-button l-left is-orange button-text is-small is-font-white" 
    contentI18n="categories_title" action="goToCategories"}}

	<div id="brand-container"></div>

	{{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange icon" icon="i" 
		action="goToMap" }}

{{/view }}

<div class="screen-container">

  {{#view Yn.RefreshScrollerView
    holdPeriod=100
    exclude="footer venues-header"
    loggedUserBinding="loggedUser"
    isGeopositionOnBinding="isGeopositionOn"
    isRefreshedBinding="isRefreshed"
    hasNextBinding="hasNext"
    lengthBinding="content.length" }}

    <div class="scroller-container fix-scrolling-touch">

        {{#if isContentLoaded }}

              <div class="space by-one"></div>

                {{#each content}}

                  {{view Yvi.VenueBoxView 
                    productsBinding="products"
                    venue=this
                    isGeopositionOnBinding="view.isGeopositionOn"
                    loggedUserBinding="view.loggedUser" }}

                    <div class="space by-one"></div>

                {{/each}}

        {{else }}
          {{view Yn.SpinnerView}}
        {{/if }}

    </div>

    {{#if view.showBottomView }}

      {{view Yn.MiniSpinnerView }}

    {{/if }}

  {{/view}}

</div>

{{/with}}
