{{#with view}}

{{#view Yn.HeaderView }}

  {{view Yn.AdaptativeButtonView class="header-button l-left is-orange button-text is-small is-font-white" 
    contentI18n="categories_title" action="goToCategories"}}
	<div class="header-brand-container"></div>
	{{view Yn.MapButtonView class="l-right" action="goToMap" }}

{{/view }}

{{#view Yn.RefreshScrollerView class="screen-container"
  holdPeriod=100
  exclude=".header"
  excludeGlobal="footer"
  isRefreshedBinding="isRefreshed"
  hasNextBinding="hasNext"
  hasUserBinding="hasUser"
  lengthBinding="content.length" }}


    <div class="scroller-container fix-scrolling-touch">

          <div class="space by-one"></div>

          {{#if friends.isLoaded }}

            <div class="box">

              {{#if hasUser }}
                {{view Yvi.InviteUserBoxContentView 
                  userBinding="user"
                  agendaUserBinding="agendaUser"
                  facebookUserBinding="facebookUser" }}
              {{else}}

                    {{#if nextThreeFriends.length }}

                      {{#view Yn.BtapView class="box-content with-image-without-title has-tap" 
                        action="addFriend"}}

                        <div id="select-friend-content" class="box-content-element three-column-table">

                          <div class="left-column has-many-images">
                            {{#each person in nextThreeFriends}}
                              {{view Yn.NonSimultaneouslyTapSquareImageView class="is-special1 touchable inline fix-scrolling-touch"
                                contentBinding="person.user"
                                actionContentBinding="person.user"
                                action="chooseUser"
                                withPhoto=true }}
                            {{/each}}
                          </div>

                          <div class="middle-column is-right">

                            <div class="main-text is-grey">
                              {{I18n select_a_friend}}
                            </div>

                            {{#if newFriends.length }}
                              <div class="detail-text">
                                {{newFriends.length}} {{I18n _new}}
                              </div>
                            {{/if}}

                          </div>

                          <div class="control right-column">
                            <span class="icon-after is-icon-normal with-text arrow">
                            </span>
                          </div>

                        </div>
                      {{/view}}
                    {{else}}

                      {{view Yvi.SelectItemBoxContentView
                        contentI18n="select_someone_to_invite"
                        action="addFriend"}}

                    {{/if}}

              {{/if}}


            </div>
          {{/if}}

          {{#if isContentLoaded}}

              <div class="space by-half"></div>
              <div class="main-text text is-not-box l-right">

                {{#if hasUser }}

                  {{I18n products_around}}
                  {{#if user }}
                    {{#if content.suspended }}
                      {{I18n someone}}
                    {{else}}
                      {{user.name}}
                    {{/if}}
                  {{/if}}

                  {{#if agendaUser }}
                    {{agendaUser.phoneName}}
                  {{/if}}

                  {{#if facebookUser }}
                    {{facebookUser.fbName}}
                  {{/if}}
                  ({{selectedCity.name}})

                {{else}}
                  {{I18n products_around}} {{selectedCity.name}}
                {{/if}}

              </div>
              <div class="space by-half"></div>

              {{#if content.length }}

                {{#each item in content}}


                  {{#if item.products.isLoaded }}

                    {{view Yn.VenueBoxView 
                      productsBinding="item.products"
                      hasSelectedUserBinding="view.hasUser"
                      venueBinding="item"
                      brandBinding="item.brand"
                      hasSelect=true
                      hasBrandName=true
                      isGeopositionOnBinding="isGeopositionOn"
                      loggedUserBinding="loggedUser" }}

                    <div class="space by-one"></div>
                  {{/if}}

                {{/each}}


                {{#if view.showBottomView }}
                  {{view Yn.MiniSpinnerView }}
                {{/if }}

                <div class="space by-one"></div>

              {{else}}
                {{view Yn.EmptyView contentI18n="empty_venues"
                class="is-small" }}
              {{/if}}

          {{/if}}

      </div>

    {{#unless isContentLoaded}}
      {{view Yvi.VenuesSpinnerView 
        selectedCityBinding="selectedCity" }}
    {{/unless}}

{{/view}}

{{/with}}
