{{#with view }}

{{#view Yn.HeaderView class="without-shadow" }}
  {{view Yn.MenuButtonView }}
  <div class="header-title">{{I18n wallet_title}}</div>

  {{#if isInbox }}

    {{#view Yn.AdaptativeButtonView class="header-button l-right is-orange button-text is-small is-font-white" 
      action="changeInbox"}}
      {{I18n archived}}
    {{/view}}

  {{else}}

    {{#view Yn.AdaptativeButtonView class="header-button l-right is-blue button-text is-small is-font-white" 
      action="changeInbox"}}
      {{I18n inbox}}
    {{/view}}

  {{/if}}
{{/view }}

<div class="screen-container">

  {{view Yn.MenuTabsButtonView id="wallet-menu-tabs" 
    contentBinding="_options"
    selectedBinding="option" }}

  {{#if isInbox }}

    {{#view Yn.TabMainView
      currentTabViewBinding="option"}}

        {{view Yvi.WalletContentView
          invitationsBinding="receivedInvitations"
          areReceivedInvitations=true
          exclude=".header, #wallet-menu-tabs"
          viewName="wallet_received" }}

        {{view Yvi.WalletContentView
          invitationsBinding="sentInvitations"
          areReceivedInvitations=false
          exclude=".header, #wallet-menu-tabs"
          viewName="wallet_sent" }}

    {{/view}}

  {{else}}

    {{#view Yn.TabMainView
      currentTabViewBinding="option"}}

        {{view Yvi.WalletContentView
          invitationsBinding="archivedReceivedInvitations"
          areReceivedInvitations=true
          exclude=".header, #wallet-menu-tabs"
          viewName="wallet_received" }}

        {{view Yvi.WalletContentView
          invitationsBinding="archivedSentInvitations"
          areReceivedInvitations=false
          exclude=".header, #wallet-menu-tabs"
          viewName="wallet_sent" }}

    {{/view}}

  {{/if}}

</div>
{{/with}}
