{{#with view }}

{{#view Yn.HeaderView class="without-shadow" }}
  {{view Yn.MenuButtonView }}
  <div class="header-title">{{I18n wallet_title}}</div>

  {{#if invitations.length }}
    {{view Yn.MapButtonView class="l-right" action="goToMap" }}
  {{/if}}
{{/view }}

<div class="screen-container">

  {{view Yn.MenuTabsButtonView id="wallet-menu-tabs" 
    contentBinding="_options"
    selectedBinding="option" }}

  {{#view Yn.TabMainView
    currentTabViewBinding="option"}}

      {{view Yvi.WalletContentView
        invitationsBinding="receivedInvitations"
        exclude=".header, #wallet-menu-tabs"
        viewName="wallet_received" }}

      {{view Yvi.WalletContentView
        invitationsBinding="sentInvitations"
        exclude=".header, #wallet-menu-tabs"
        viewName="wallet_sent" }}

  {{/view}}

</div>
{{/with}}
