{{#with view }}

	{{#view Yn.HeaderView id="wallet-header" class="with-small-shadow" }}
		<div class="header-title">{{I18n wallet_title}}</div>
	{{/view }}

  {{#view Yn.ScrollerView class="screen-container" 
    exclude="wallet-header footer"
    viewName="unexchanged" }}

    {{#if invitations.isLoaded }}

      {{#if invitations.length }}
  
        <div class="space by-one"></div>

        {{#each invitations}}

          <div class="box">

            <div class="box-title-top with-image">

              <div class="picture">

                {{view Yn.SquareImageView class="is-small" contentBinding="fromUser" withPhoto=true }}

              </div>

              <div class="name">

                {{#if fromUser.suspended }}
                  {{I18n someone}} {{I18n invites_you}}
                {{else}}
                  {{fromUser.name}} {{I18n invites_you}}
                {{/if}}

              </div>

            </div>

            {{#view Yn.BtapView class="box-content has-tap" 
              action="goToScanInvitation"
              actionContent=this}} 

              <div class="box-content-element three-column-table">

                <div class="picture left-column">
                  {{view Yn.SquareImageView class="is-normal" contentBinding="product" withPhoto=true }}
                </div>

                <div class="name middle-column">

                  <div class="main-text">
                    {{product.name}}
                  </div>

                  <div class="detail-text">
                    <span class="icon with-text is-icon-small city" icon="i"></span>
                    {{venue.address}}
                  </div>

                </div>

                <div class="control right-column">
                  <span class="icon is-icon-normal is-icon-grey with-text arrow"></span>
                </div>
              </div>

            {{/view}}

          </div>

          <div class="space by-one"></div>

        {{/each}}

      {{else }}

        {{view Yn.EmptyView class="is-small"
          contentI18n="empty_wallet"}}

      {{/if}}


    {{else }}
      {{view Yn.SpinnerView}}
    {{/if }}

  {{/view}}

{{/with}}
