{{#with view }}
{{#view Yn.HeaderView class="without-shadow" }}

  {{view Yn.MenuButtonView }}
  <div class="header-title">{{I18n wallet_title}}</div>

  {{view Yvi.WalletOptionButtonView class="header-button rectangle-button l-right is-orange button-text is-small"
    isInboxBinding="isInbox"
    action="changeInbox"}}

{{/view }}
<div class="screen-container">

  {{#if isInbox }}

    {{view Yvi.WalletContentView
      invitationsBinding="inboxInvitations"
      isInbox=true
      exclude=".header" }}

  {{else}}

    {{view Yvi.WalletContentView
      invitationsBinding="archivedInvitations"
      isInbox=false
      exclude=".header" }}

  {{/if}}

</div>
{{/with}}
