{{#with view }}

{{#view Yn.HeaderView class="without-shadow" }}
  {{view Yn.MenuButtonView }}
  <div class="header-title">{{I18n wallet_title}}</div>
  {{view Yn.IconBtapView class="l-right header-button rectangle-button is-small is-orange" 
    icon="e"
    action="refresh" }}
{{/view }}

<div class="screen-container">

  {{view Yn.MenuTabsButtonView id="wallet-menu-tabs" 
    contentBinding="_options"
    selectedBinding="option" }}

  {{#view Yn.TabMainView
    currentTabViewBinding="option"}}

      {{view Yvi.WalletContentView
        invitationsBinding="receivedInvitations"
        areReceivedInvitations=true
        exclude=".header, #wallet-menu-tabs"
        viewName="wallet_received" }}

      {{view Yvi.WalletContentView
        invitationsBinding="sentInvitations"
        areReceivedInvitations=false
        exclude=".header, #wallet-menu-tabs"
        viewName="wallet_sent" }}

  {{/view}}

</div>
{{/with}}
