
            {{#unless user.hasFacebook}} 


              <div class="login-with-fb">

                {{view Yn.SocialLargeButtonView class="facebook" 
                  contentI18n="connect_with_facebook" 
                  action="connectWithFacebook" }}

                 <div class="space by-two"></div>

                <div class="detail-text is-center is-not-in-box">
                  {{I18n activate_facebook_subtitle}}
                </div>

              </div>


            {{else}} 

              {{#if facebookContent.isLoaded }} 

                    {{#if facebookContent.length }} 

                        <div class="space by-one"></div>

                        {{#view Yvi.ChooseUserBoxView class="box"
                          searchInputBinding="view.searchInput" }}

                          {{#each facebookContent}}

                            {{#view Yvi.ChooseUserContentView 
                              searchBinding="view.searchInput"
                              nameBinding="name" }}

                              {{view Yn.TapUserShortBlockView
                                imagetype="is-small"
                                typeBinding="Yn.UserType.FbChannel"
                                fbIdBinding="id"
                                fbNameBinding="name"
                                action="selectFacebookUser"
                                actionContentBinding="this"}}
                            {{/view}}


                          {{/each}}
                        {{/view}}


                        <div class="space by-one"></div>

                    {{else}} 

                      <div class="empty-view is-absolute"></div>
                      <div class="empty-text is-absolute">{{I18n no_friends}}</div>

                    {{/if}} 



            {{else}} 

            {{view Yn.SpinnerView
              contentI18n="importing_facebook"}}

            {{/if}} 

          {{/unless}} 
