
  {{#if nearsContent.isLoaded }} 

      {{#if nearsContent.length }} 

        <div class="space by-one"></div>

        {{#view Yvi.ChooseUserBoxView class="box"
          searchInputBinding="view.searchInput" }}

          {{#each nearsContent}}

            {{#view Yvi.ChooseUserContentView 
              searchBinding="searchInput"
              nameBinding="user.name"
              action="selectUser"
              actionContentBinding=this}}

              {{view Yn.UserShortBlockView  
                imagetype="is-small"
                typeBinding="Yn.UserType.appuser"
                contentBinding="this" 
                showCity=false 
                showStatus=false }}
            {{/view}}

          {{/each}}

        {{/view}}

        </div>
        <div class="space by-one"></div>

      {{else}}

        <div class="empty-view is-absolute"></div>
        <div class="empty-text is-absolute">{{I18n empty_nearby}}</div>

      {{/if}} 

  {{else}}

    {{view Yn.SpinnerView
      contentI18n="importing_nearby"}}

  {{/if}} 
