{{#if locationActive }} 

  {{#if nearsContent.isLoaded }} 

      {{#if nearsContent.length }} 

        <div class="space by-one"></div>
        <div class="box">

          <div class="box-content has-li">

            {{#each nearsContent}}

              <div class="box-content-li has-tap">

                {{view Yn.TapUserShortBlockView  
                  imagetype="is-small"
                  typeBinding="Yn.UserType.appuser"
                  contentBinding="this" 
                  showCity=false 
                  showStatus=false
                  action="selectUser"
                  actionContentBinding="this"}}

              </div>

            {{/each}}

          </div>

        </div>
        <div class="space by-one"></div>

      {{else}}

        <div class="empty-view is-absolute"></div>
        <div class="empty-text is-absolute">{{I18n empty_nearby}}</div>

      {{/if}} 

  {{else}}

    {{view Yn.SpinnerView
      contentI18n="importing_nearby"}}

  {{/if}} 

{{else}}

  <div class="empty-view is-absolute"></div>
  <div class="empty-text is-absolute">{{I18n choose_user_location_is_not_active}}</div>

{{/if}} 
